#FileUploaderBlock .qq-uploader,.fileLocation{
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	width: 70%;
}
#FileUploaderBlock .uploader_text,.fileLocation_text{
	display: inline-block;
	vertical-align: top;
	padding: 14px 5px;
	width: 25%;
	text-align: right;
}
.processFile{
	margin-left: -2px;
}
.fe_note{
	padding:5px;
	line-height:20px;
}
.fe_riskchecker{
	margin-left:-7px;
}
.upload_progress.finished .upfilename {overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.fe_note span {
	vertical-align: middle;
	height: 10px;
	padding: 5px;
	display: inline-block;
}
.fe_note ul li { list-style-type: disc;
margin-left: 20px;}
input.fileSelector{
	width:300px;
	border: 1px solid #B7BEC0;
	border-radius: 3px;
	font-family: 'Droid Sans', sans-serif;
	color: #737987;
	font-size: 12px;
	padding: 5px;
}
input.fileSelector:focus { outline:0; background: #FFFFEC;}
input.fileNameClient{
	width: 175px;
	border: 1px solid #B7BEC0;
	border-radius: 3px;
	font-family: 'Droid Sans', sans-serif;
	color: #737987;
	font-size: 12px;
	padding: 5px;
}
input.fileNameClient:focus { outline:0; }
.fileprocessor_block{
	display: inline-block;
	margin-left: 250px;
}
#fle_content{
	padding-top:40px;
}