
.website_cont {
	position: relative;
}
.website_cont .tip {
	display: none;
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 3px;
	position: absolute;
	top: 3px;
	left: 3px;
	font-size: 12px;
	opacity: 0.8;
	width: 222px;
	height: 20px;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}
.website_cont.disabled:hover .tip {
	display: block;
}
.WebMastersContent .row_detailed .checkbox ,.WebMastersContent .row_summary .checkbox {
	padding: 17px;
	vertical-align: middle;
}
.WebMastersContent .row_detailed .rd .row_updatee .checkbox {
	padding: 17px;
	display: inline-block;
}
.ci_tab {
	display: inline-block;
	vertical-align: top;
}
.ci_url {
	padding: 10px;
	max-width: 860px;
	line-height: 18px;
}
.ci_details_tab {
	padding: 10px;
}
.ci_details {
	text-transform: capitalize;
}
.empty_block {
	padding: 2px 20px;
}
.WebMastersContent .row_detailed.active .rh {background-color: #E0F5DE;}
.WebMastersContent .row_detailed .rd .row_updatee {
	position: relative;
	cursor:default;
}
.WebMastersContent .row_detailed .rd .row_updatee.active { border-color: #CCE5C9;
border-top: 1px solid #CCE5C9;
margin-top: -2px;
background-color: #E0F5DE;}
.ci_actions_panel {
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: none;
}
.ci_actions_panel ul {
	border: 1px solid #C6C6C6;
	border-radius: 3px;
}
.ci_actions_panel ul li {
	background-position: 0 -397px;
	border-left: 1px solid #C6C6C6;
	display: inline-block;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.ci_actions_panel ul li a {
	width: 28px;
	height: 28px;
	display: block;
}
.ci_actions_panel ul li.wmt_redirect a {
	background: url(../images/icon_sprite_gWM.png);
}
.ci_actions_panel ul li.wmt_redirect_again a {
	background: url(../images/icon_sprite_gWM.png) -56px 0px;
}
.ci_actions_panel ul li.ci_ignore a {
	background: url(../images/icon_sprite_gWM.png) -28px 0px;
}
.ci_actions_panel ul li.wmt_reconsider a {
	background: url(../images/icon_sprite_gWM.png) -84px 0px;
}
.ci_actions_panel ul li:first-child {
	border-left: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.ci_actions_panel ul li:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.WebMastersContent .row_updatee:hover .ci_actions_panel {
	display: block;
}
.ci_redirect_tab {
	display: none;
}
.ci_redirect_url, .ci_edit_redirected_url {
	width: 700px;
	padding: 3px 5px;
	border: 1px solid #B7BEC0;
	border-radius: 3px;
	color: #666;
	font-size: 12px;
	margin-bottom: 6px;
	margin-top: 3px;
}
.ci_redirect_tab .ci_actions_panel, .ci_edit_redirected_tab .ci_actions_panel {
	bottom: 6px;
}

.ci_edit_redirected_tab .ci_edit_redirected_url { width:759px;}
.wmt_crawl_redirect_url_ok, .wmt_redirect_again_ok {
	color: #707277;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	background-position: 0 -397px;
	border: 1px solid #C6C6C6;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 5px 11px;
	display: inline-block;
}
.wmt_crawl_redirect_url_cancel, .wmt_redirect_again_cancel {
	padding: 10px;
}
.wmt_crawl_redirect_url_ok:hover, .wmt_redirect_again_ok:hover {
	text-decoration: none;
}
.ci_edit_redirected_tab {
	display: none;
}
.ci_redirected_tab .ci_redirected_url {
	padding: 10px 7px;
	float: left;
}
.redirect_from_to_arrow {
	font-size: 16px;
	margin-right: 8px;
	font-weight: bold;
	padding-top: 8px;
	float: left;
	margin-left: 10px;
}
.links_count {
	margin: -1px 10px 0 -5px;
display: inline-block;
}
.gwmt_no_issues { padding:20px 0; text-align:center;}

.gwm_result_classification {
	position: relative;
	border-bottom: 1px solid #f1f1d7;
}

/*.gwm_result_classification .row_updatee { padding:5px;}*/
.gwm_result_classification .row_updatee:last-child { margin-bottom:-1px;}

.gwm_result_classification_title{
	margin: 4px 0px;
	margin-left: 35px;
	padding: 4px 0px;
	display: inline-block;
}
