/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: FastLine Media
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */ 

span.printandpdf img:first-child { width: 20px; height: 20px;}
span.printandpdf img:last-child { width: 18px; height: 18px;}
.page-template-template-proposal-summary-php .pf-content p a { display: none;}

.page-template-template-proposal-summary-php .fl-button-wrap a { display: none !important;}

@media print {
  .page-template-template-proposal-summary-php .pf-content p a { display: none !important;}
}