/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: FastLine Media
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */

.fl-module.n2col .fl-rich-text {background: #EBEBEB;
padding: 13px 15px;}

.fl-module.n2col .fl-rich-text h2 {margin-top: 0;
font-size: 21px;
font-weight: bold;}

.fl-module.n2col .fl-rich-text p{
color: #000;
line-height: 22px;
}

.ncustom-menu .fl-widget ul li {display: inline-block;}

.ncustom-menu .fl-widget ul li a{display: inline-block;
font-size: 18px;
margin-right: 15px;
color: #000;
text-transform: uppercase;
}

.ncustom-menu .fl-widget ul {max-width: 680px;
margin: 30px auto 0;}

.ncustom-menu .fl-module-content,
.nlogo .fl-module-content,
.fl-node-54890cec90d7e .fl-module-content,
.free-advice2 .fl-module-content {margin-bottom:0;}

.fl-node-5489008aee6e9 .fl-module-content{margin-top: -40px;}

.ncustom-header .fl-row-content-wrap,
.fl-node-548913b804ba8 .fl-row-content-wrap,
.fl-node-5489008aee824 .fl-row-content-wrap {padding: 0 20px;}

.feat-image img{}



.fl-page-nav-wrap .navbar-nav > li > a {
color: #000;
}

@media (min-width: 768px){
.navbar-nav>li {
float: none;
display: inline-block;
}

.navbar-nav {float: none;}

.navbar-default .navbar-collapse {text-align: center;}

.fl-page-nav-bottom .fl-page-header-row .col-md-3 {
display: table-cell;
float: none;
vertical-align: middle;
}

img.phone {max-width: 224px;}

}

@media (min-width: 992px){
body {padding: 0;}

.fl-page-nav-right .fl-page-nav ul.navbar-nav > li {
display: inline-block;
float: none;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav {
float: none !important;
}

}


.fl-page-header-logo.fixed img.phone {max-height: 46px;}

/*
@media (min-width: 1100px){
.fl-full-width .fl-page-header.fl-page-nav-bottom .fl-page-header-container.container {
width: 1300px;
}

}
*/

.nnav {text-align:center;}

@media (min-width: 1060px){
.fl-page-nav-bottom .fl-page-header-row .col-md-6.nnav .navbar-collapse.collapse {display:block;}
.fl-page-nav-wrap.nnnavcustom {display:none !important;}
}

@media (max-width: 1059px){
.fl-page-nav-bottom .fl-page-header-row .col-md-6.nnav .navbar-collapse.collapse {display:none !important;}
}

.fl-node-548a43e4a9006 .fl-module-content {margin-top: 0;margin-bottom: 0;}

.fl-node-548a43b3d8fef .fl-row-content-wrap {padding-top: 0 !important;padding-bottom: 0 !important;}

.homecont-right .h2 {
font-size: 20px;
line-height: 30px;}

.homecont-right img {margin-bottom: 0;}

.fl-node-548a604974af2 h3 {margin-top: 0;}

.homegrey {background: #F4F4F4;}

.homegrey .fl-row-content-wrap {padding-top: 0 !important;}

.fl-node-548a43e4a9006 p,
.fl-node-548a43e4a9006 img {margin-bottom:0 !important;}