<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing terms for `Shipping Classes` taxonomy...</div>
<div class="progress-msg">Composing URLs for featured images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">`SPLENDOR` post created successfully</div>
<div class="progress-msg">`Knotted Trellis` post created successfully</div>
<div class="progress-msg">`Delicate Sautoir Rose` post created successfully</div>
<div class="progress-msg">`Decodence Primose` post created successfully</div>
<div class="progress-msg">`MENDING FENCES` post created successfully</div>
<div class="progress-msg">`Blue Wire` post created successfully</div>
<div class="progress-msg">`SEA OF TRANQUILITY` post created successfully</div>
<div class="progress-msg">`Sea Flakes` post created successfully</div>
<div class="progress-msg">`LOVE, LUCK & LIBERTY` post created successfully</div>
<div class="progress-msg">`Liberty Star` post created successfully</div>
<div class="progress-msg">`PETALS` post created successfully</div>
<div class="progress-msg">`Blue & purple petals` post created successfully</div>
<div class="progress-msg">`MONKEY'S BIZNESS` post created successfully</div>
<div class="progress-msg">`Little Farm` post created successfully</div>
<div class="progress-msg">`WINTER WARMTH` post created successfully</div>
<div class="progress-msg">`Snowflakes` post created successfully</div>
<div class="progress-msg">`AFRICAN SKY` post created successfully</div>
<div class="progress-msg">`Desert Rose` post created successfully</div>
<div class="progress-msg">`Wavey Horizons` post created successfully</div>
<div class="progress-msg">`BLACK & WHITE` post created successfully</div>
<div class="progress-msg">`Dragonfly` post created successfully</div>
<div class="progress-msg">`Butterflies` post created successfully</div>
<div class="progress-msg">`White Funky Flowers` post created successfully</div>
<div class="progress-msg">`Black Funky Flowers` post created successfully</div>
<div class="progress-msg">`Black Dots` post created successfully</div>
<div class="progress-msg">`Star Gaze Dots` post created successfully</div>
<div class="progress-msg">`COTTAGE COLLECTION` post created successfully</div>
<div class="progress-msg">`White Small Pin Spots` post created successfully</div>
<div class="progress-msg">`Black Small Pin Spots` post created successfully</div>
<div class="progress-msg">`Olive Small Pin Spots` post created successfully</div>
<div class="progress-msg">`Pink Small Pin Spots` post created successfully</div>
<div class="progress-msg">`White Flowers` post created successfully</div>
<div class="progress-msg">`PLAIN COLOURS` post created successfully</div>
<div class="progress-msg">`Rustic Ranch` post created successfully</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
