<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing terms for `Shipping Classes` taxonomy...</div>
<div class="progress-msg">Composing URLs for featured images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">`JELLY ROLLS` post created successfully</div>
<div class="progress-msg">`Bundles` post created successfully</div>
<div class="progress-msg">`Oranges` post created successfully</div>
<div class="progress-msg">`Orange & Pink Swirls` post created successfully</div>
<div class="progress-msg">`Orange with Red Flower` post created successfully</div>
<div class="progress-msg">`Desert Rose` post created successfully</div>
<div class="progress-msg">`Blues` post created successfully</div>
<div class="progress-msg">`Pinks` post created successfully</div>
<div class="progress-msg">`Blacks` post created successfully</div>
<div class="progress-msg">`White` post created successfully</div>
<div class="progress-msg">`Purples` post created successfully</div>
<div class="progress-msg">`Yellows` post created successfully</div>
<div class="progress-msg">`Greens` post created successfully</div>
<div class="progress-msg">`Creams` post created successfully</div>
<div class="progress-msg">`Assorted colours` post created successfully</div>
<div class="progress-msg">`Cottages` post created successfully</div>
<div class="progress-msg">`Single Strips` post created successfully</div>
<div class="progress-msg">`Oranges` post created successfully</div>
<div class="progress-msg">`Blues` post created successfully</div>
<div class="progress-msg">`Pinks` post created successfully</div>
<div class="progress-msg">`Blacks` post created successfully</div>
<div class="progress-msg">`White` post created successfully</div>
<div class="progress-msg">`Purples` post created successfully</div>
<div class="progress-msg">`Yellows` post created successfully</div>
<div class="progress-msg">`Greens` post created successfully</div>
<div class="progress-msg">`Creams` post created successfully</div>
<div class="progress-msg">`FAT QUARTERS` post created successfully</div>
<div class="progress-msg">`Oranges` post created successfully</div>
<div class="progress-msg">`Blues` post created successfully</div>
<div class="progress-msg">`Pinks` post created successfully</div>
<div class="progress-msg">`Blacks` post created successfully</div>
<div class="progress-msg">`White` post created successfully</div>
<div class="progress-msg">`Purples` post created successfully</div>
<div class="progress-msg">`Yellows` post created successfully</div>
<div class="progress-msg">`Greens` post created successfully</div>
<div class="progress-msg">`Creams` post created successfully</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
