@charset "utf-8";
/* CSS Document */

.backup .row_backup_action .run_now {
	background-position: 0 0;
}
.backup .sites_bu, .backup .row_detailed .sites_bu {
	float:right;
	background-position:0 -34px;
	border-left: 0;
	padding: 12px 11px 0 34px;
	height: 22px;
	width: 23px;
	font-size: 11px;
	cursor:default;
}
.backup .time_bu.monthly {
	background-position:0 -136px;
}
.backup .time_bu.weekly {
	background-position:0 -102px;
}
.backup .time_bu.daily {
	background-position:0 -68px;
}
.backup .success_bu, .backup .row_detailed .success_bu {
	float:right !important;
}
.failed_bu, .row_detailed .failed_bu {
	float:right !important;
	background-position:0 -238px;
	color:#c41111;
	border-left: 0;
	padding: 12px 11px 0 34px;
	height: 22px;
	width: 23px;
	font-size: 11px;
	cursor:default;
}
.create_backup .left {
	width:384px;
	border-right:1px solid #d2d5d7;
	padding:20px;
	color: #6E7584;
}
.create_backup .right {
	width:424px;
	border-left:1px solid #d2d5d7;
	margin-left:-1px;
	color: #6E7584;
}
.create_backup .time_select_btn {
	background-position: 0 -273px;
	font-size: 12px;
	line-height: 14px;
	height: 13px;
	float: left;
	padding: 5px 0;
	position:relative;
}
.create_backup .time_select_btn a {
	background: url(../../../images/arrow_down.png) no-repeat 89% 50%;
	border: 1px solid #B7BBBE;
	color: #676C70;
	padding: 4px 20px 4px 5px;
	text-shadow: white 1px 1px 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	border-radius:3px;
}
.create_backup .time_select_btn a:active { box-shadow: 0 1px 1px rgba(0, 0, 0, 0), 0px 2px 8px rgba(0, 0, 0, 0.1) inset; }
.create_backup .time_select_btn a:hover {
	text-decoration:none;
}
.time_select_options {
	position:absolute;
	z-index:1;
	box-shadow:0 0px 6px rgba(0, 0, 0, 0.2);
	margin: 22px 0 0 15px;
	border:1px solid #b7bbbe;
	border-radius: 3px;
}
.time_select_options ul.time_select_options_am {
	background-color:#f9f9f9;
	border-radius: 3px 3px 0 0;
}
.time_select_options .time_select_options_am li, .time_select_options .time_select_options_pm li {
	float:left;
}
.time_select_options .time_select_options_am li a {
	float:left;
	font-size:11px;
	color:#676c70;
	text-decoration:none;
	padding:6px 10px;
}
.time_select_options .time_select_options_am li a:hover {
	text-decoration:none;
	background:#dfe2e3;
}
.time_select_options ul.time_select_options_pm {
	background-color:#8a9399;
}
.time_select_options .time_select_options_pm li a {
	float:left;
	font-size:11px;
	color:#fff;
	text-decoration:none;
	padding:6px 10px;
}
.time_select_options .time_select_options_pm li a:hover {
	text-decoration:none;
	background:#9da4a9;
}
.time_select_options .label {
	float:left;
	width:20px;
	padding: 6px;
}
.time_select_options .time_select_options_pm .label {
	color:#fff;
}
.date_select_cont, .day_select_cont {
	border:1px solid #b4b6b8;
	width: 188px;
}
.date_select_cont ul {
	border-top:1px solid #b4b6b8;
}
.date_select_cont ul:first-child {
	border-top:0;
}
.date_select_cont ul li, .day_select_cont ul li {
	float:left;
}
.date_select_cont ul li a, .day_select_cont ul li a {
	float:left;
	padding:6px 8px 5px 7px;
	width:11px;
	text-align:center;
	border-left:1px solid #b6b9bb;
	background-position:0 -467px;
	color:#676c70;
	text-decoration:none;
	font-size:11px;
	font-weight:700;
	cursor:default;
	box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.7) inset;
	cursor:pointer;
}
.date_select_cont ul li:first-child a, .day_select_cont ul li:first-child a {
	border-left:0;
}
.date_select_cont ul:nth-child(2n+2) li a {
background-position:0 -489px;
}
.date_select_cont ul li a.empty:hover {
	background-position:0 -467px;
}
.date_select_cont ul li a:hover, .day_select_cont ul li a:hover {
	background-position:0 -511px;
	box-shadow: 0 0 11px 1px rgba(255, 255, 255, 0.3) inset;
}
.date_select_cont ul li a.active {
	background-position:0 -555px;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2) inset;
	color:#fff;
}
.day_select_cont ul li a.active {
	background-position:0 -555px;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2) inset;
	color:#fff;
}
.day_select_cont {
	width: 258px;
	border-radius: 3px;
}
.day_select_cont ul li {
}
.day_select_cont ul li a {
	width: 27px;
	padding: 6px 5px 5px 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.day_select_cont ul li:first-child a {
	border-radius:2px 0 0 2px;
}
.day_select_cont ul li:last-child a {
	border-radius:0 2px 2px 0;
}
