.uptime .row_updatee { margin-left:0 !important;}
  .uptime .row_detailed .rd .row_updatee_ind .label_updatee .label { text-transform: none; padding-left: 10px; text-align: left; width: auto; float: left; width: 134px; overflow: hidden; white-space: nowrap; cursor: default;}
  .uptime_percentage { background-color:#44b22b; color: white;
font-weight: bold;
width: 28px;
text-align: center;
padding: 10px 14px 11px 14px;
font-size: 11px;
margin-top: 1px;
margin-right: 2px;}
  .uptime_percentage.down { background-color:#b22b2b;}
.timeline_cont {width: 100%; height:32px; position:relative;margin-top: 1px; background-color:#b8b8b8;overflow:hidden}
.timeline_up { height: 32px; background-color:#44b22b; float:right;}
.timeline_down { height: 32px; background-color:#b22b2b; float:right;}
.timeline_started { height: 32px; background-color:#44b22b; float:right;}
.timeline_pause { height: 32px; background-color: rgb(94, 88, 88); float:right;}
.timeline_up:hover {background-color:#369221;}
.timeline_down:hover { background-color:#982121; }
.uptime .row_detailed .rd .row_updatee_ind .items_cont { width:640px;}
.timeline_hour_labels_cont { float:none !important; margin-left: 227px; height: 20px; margin-top: 13px;}
.timeline_hour_labels_cont > div { float:left; width: 27px; text-align: center;}
.uptime .row_detailed .rd .row_updatee_ind .label_updatee {
width: 160px;
}
.del_conf_uptime{
	/*display: block!important;*/
width: 119px;
margin: 6px 0px 0px 642px;
right: 27px;
top: 5px;
background: #efdede;
opacity: .9;
}
.timeline_uptime_up{
	background-color: #44b22b;
}
.timeline_uptime_down{
	background-color:#b22b2b;
}
.del_conf_uptime .yes{
	background-color: #cc3535;
color: #fff;
cursor: default;
margin-right: 2px;
border-radius: 2px;
}

.del_conf_uptime > div {
float: left;
padding: 6px 8px 5px;
}

.del_conf_uptime .label {
color: #a92a2a;
}
.del_conf_uptime .no{
	background-color: #d7c7c7;
color: #555;
cursor: default;
border-radius: 2px;
padding: 4px 4px 3px 4px;
margin: 2px;
}
.del_conf_uptime .no:hover {
background-color: #BFADAD;
}
.del_conf_uptime .yes:hover {
background-color: #E34444;
}

.deleteMonitor_conf
{
	background-position: 0 -408px;
}

.alertWhenClass{
	margin-right: 14px;
	margin-bottom: 6px;
}
.select2-container{
	margin-bottom: 8px;
}
.op_del_forever{
	background-position: -3px -615px;
}

.steps_hdr_uptime {
	color: #525556;
font-size: 11px;
text-transform: uppercase;
padding: 10px 14px;
font-weight: 700;
}
.monName:hover{
	text-decoration:none;
}
.keywordChecking textarea.keywordInput { border: 1px solid #B7BEC0; border-radius: 3px;margin: 10px;  width: 362px; padding: 5px;}
.uptimeResultOptions { padding:20px 0;}
.uptimeResultOptions .monitor_results_site { padding:10px; padding-right:20px; text-align:right;}
.uptimeResultOptions .monitor_results_message {padding:10px; font-weight:700; color:#555;}