@charset "utf-8";
/* CSS Document */
.delete_user_post_ressign {
	position:relative;
	margin: 8px 0 0 18px;
}
.delete_user_post_ressign_tip {
	position: absolute;
	background-color: black;
	color: white;
	padding: 3px;
	border-radius: 3px;
	width: 200px;
	line-height: 15px;
	margin: 10px 0 0 3px;
	opacity:0.8;
	z-index:1;
}
.delete_user_post_ressign::before {
 content:'';
 position:absolute;
 width: 0px;
 z-index:1;
 height: 0px;
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-bottom: 5px solid #000;
 margin: 30px 0 0 20px;
 opacity:0.8;
}
ul.th_sub_nav.user_management li a {
	padding: 4px 6px 3px;
}
.dropdown_cont.users_select_role {
	margin: 6px 0px 0px 44px;
	z-index:1;
}
.dropdown_cont.users_select_role .dropdown_btn {
	width:80px;
}
.dropdown_cont.users_select_role ul li a {
	width:100px;
}
.dropdown_cont.users_set_role .dropdown_btn { width:149px;}
.dropdown_cont.users_set_role ul li a { width:169px; }
.dropdown_cont .dropdown_btn.error { box-shadow: 0 0 9px rgba(187, 125, 125, 0.5) inset;
border: 1px solid #BB7D7D !important;
color: #A92A2A; }

input.changeUserPassword {
	margin: 8px 0 0 20px;
}
.user_management_action .row_detailed .rd .row_updatee_ind .item {
	width:660px;
}
.user_management_action .row_detailed .rd .row_updatee_ind .item_ind.complete .item {
	width: 580px;
	padding-left: 50px;
}
.add_user_form input {
	height:15px;
	padding: 4px 5px 6px;
}
.add_user_form input.error {
	border: 1px solid #BB7D7D !important;
	background-color: #ECDADA;
}
.add_user_form .emailError {
	position: absolute;
	color: #A92A2A;
	font-weight: 400;
	font-size: 12px;
	margin-top: 34px;
}
