@charset "utf-8";
/* CSS Document */

.backup .row_detailed .rd .row_updatee_ind .items_cont div.stats.repository {
background-position: 0 -272px;
}

.dropdown_cont .create_profile_status { position: absolute; right: 10px; top: 0; white-space: nowrap; text-align: right; padding: 8px 35px 8px;}
.dropdown_cont .create_profile_status.loading { background:url(../../../images/loading_w_grey.gif) no-repeat right;}
.dropdown_cont .create_profile_status.success { background:url(../../../images/icon_success.png) no-repeat right;}
.dropdown_cont .create_profile_status.error { background:url(../../../images/icon_failure.png) no-repeat right; color: #8A1010; }

.repos_cont_ul {}
.repos_cont_ul li { display:inline; float:left; margin-right:20px;}
.repos_cont_ul li .checkbox_cont { float:left; background-position: 0 -941px; border: 1px solid #B7BBBE; border-radius:3px 0 0 3px; height: 28px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.5) inset; color: #6C7277;
}
.repos_cont_ul li .checkbox_cont .checkbox { display: block; height: 8px; background-position: -2px -3px;}
.repos_cont_ul li .checkbox_cont .checkbox:hover { background-position: -2px -37px; }
.repos_cont_ul li .checkbox_cont .checkbox:active { background-position: -2px -71px;}
.repos_cont_ul li .checkbox_cont .checkbox.active { background-position: -2px -105px;}
.repos_cont_ul li .checkbox_cont .checkbox.active:active { background-position: -2px -139px;}
.repos_cont_ul li .repo_name { float:left; background-position: 0 -941px;border: 1px solid #B7BBBE; border-left:0; padding: 8px 11px; border-radius:0 3px 3px 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 0px rgba(255, 255, 255, 0.5) inset; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); cursor:pointer;}
.repos_cont_ul li .repo_name.disabled { opacity:0.5;  box-shadow:0 0 0 transparent, 1px 1px 0px transparent inset; cursor:default;}
.repos_cont_ul li .repo_name.pressed {  background-position: 0 -969px; padding: 9px 11px 7px; box-shadow: 0 0 0 transparent, 1px 1px 10px rgba(0, 0, 0, 0.1) inset; cursor:default;}

.save_new_profile { height: 35px;}
.save_new_profile input { width:150px; margin: 5px 0 0 5px; padding: 5px 3px 4px; border-radius:3px 0 0 3px;  border-right:0;}
.save_new_profile input.error { border: 1px solid #BB7D7D; background-color: #ECDADA; border-right: 0; }
.save_new_profile .btn_new_profile { background-position: 0 -193px; border: 1px solid #B7BBBE; color: #6C7277;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.5) inset; cursor: default;  border-radius:0 3px 3px 0; margin:5px; margin-left:0; padding: 5px 11px 3px; height:15px; cursor:pointer;}
.save_new_profile .btn_new_profile:active { background-position: 0 -166px; padding: 6px 11px 2px; box-shadow: 0 1px 0px rgba(255, 255, 255, 1), 1px 1px 5px rgba(0, 0, 0, 0.05) inset; }

.updateProfile { background-position: 3px -991px; width: 85px;  padding: 7px 0 0 31px; height: 15px; margin: 5px 10px 0 0;}
.updateProfile.disabled {opacity: 0.5; color: #6C7277; cursor: default; -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;}
.updateProfile.disabled:hover { text-decoration:none;}

.test_conn_cont { width:155px;}
.test_conn { background: url(../images/icon_test_conn.png) no-repeat 0 -5px; color: #6C7277; padding: 6px 0 6px 35px; margin: 5px;}
.test_conn.testing { background:url(../images/icon_test_conn_testing.gif) no-repeat 0 -5px; color: #ADB4BA;}
.test_conn:hover { text-decoration:underline; cursor:pointer;} 
.test_conn.success { background-position:0 -40px;}
.test_conn.error { background-position:0 -75px;}
.test_conn.testing:hover { text-decoration:none; cursor:default;}
.conn_test_error_cont { color: #8A1010; background-image: url(../../../images/notif_e_bg.png); width:200px; border-radius: 5px; padding: 5px; position:absolute; right:10px; bottom:10px; line-height: 18px; }
.conn_test_error_cont_arrow { height: 0; width: 0; border-top: 5px solid #d5acac; border-left: 6px solid transparent; border-right: 6px solid transparent; margin: 5px 0 0 63px; position: absolute;}
.conn_test_error_cont .e_close { position:absolute;	background:url(../../../images/icon_close_k.png); width:16px; height:16px;	right:-5px;	top:-5px; cursor:pointer; }
.gDriveCredsPage{display:none;}
















