/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: FastLine Media
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */

/* IMPORTED FONTS */
@import url(http://fonts.googleapis.com/css?family=Montez);

/* RESPONSIVE FIXES */
@media screen and (max-width: 600px) {
  .side_title {
    margin-top: 20px;
  }
}


/* HOME PAGE CSS */

.page-id-47 .fl-page-nav-wrap {
  display:none;
}

.page-id-47 .fl-page-header-row {
  display:none;
}

.page-id-47 .fl-page-header {
  display:none;
}


.side_title .fl-heading-text {
  font-family: "Montez", cursive;
  font-weight: 400;
  font-size: 150%;
  margin-top: 130px;
}


.side_menu {
  font-size: 130%;
  font-weight: 200;
  text-align:center;
  font-style: italic;
}

/* ABOUT PAGE CSS */

.dino_heading .fl-heading-text {
  font-family: "Montez", cursive;
  font-weight: 400;
  font-size: 150%;
}
