/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: FastLine Media
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */ 

/* Global CSS */
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);

/* Home Page */

.hero_heading .fl-heading-text {font-family: 'Advent Pro',sans-serif; font-size: 220%; line-height: 1;}


/* Norvens Stuff */

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a {color: #FFF;}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a:hover {background-color: rgba(40, 40, 40, 0.2);color: #2F80A5;}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li.current-menu-item > a {color: #2F80A5;}

.fl-logo-text, .fa-search:before {color: #FFF;}

.testimonial {
margin: 0;
background: #B7EDFF;
padding: 10px 50px;
position: relative;
font-family: Georgia,serif;
color: #666;
border-radius: 5px;
font-style: italic;
text-shadow: 0 1px 0 #ECFBFF;
background-image: linear-gradient(#CEF3FF,#B7EDFF);
}

.testimonial:before {
top: 0;
left: 10px;
}

.testimonial:after {
content: "\201D";
right: 10px;
bottom: -0.5em;
}
.testimonial:before, .testimonial:after {
content: "\201C";
position: absolute;
font-size: 80px;
line-height: 1;
color: #999;
font-style: normal;
}

blockquote.testimonial p, p.testimonial-author {margin-bottom: 26px;}

.testimonial-author {
margin: 0 0 0 25px;
font-family: Arial,Helvetica,sans-serif;
color: #999;
text-align: left;
}

.arrow-down {
width: 0;
height: 0;
border-left: 15px solid rgba(0, 0, 0, 0);
border-right: 15px solid rgba(0, 0, 0, 0);
border-top: 15px solid #B7EDFF;
margin: 0 0 0 25px;
}

hr {border-top: 1px solid #666;}

.img-text, .text-img {
position: relative;
padding: 0 138px 48px 117px;
}

.img-text h2 {
text-align: left;
font-weight: 700;
font-size: 42px;
line-height: 30px;
margin-bottom: 42px;
}

.img-text .inner {
padding-left: 219px;
}

.img-text .indicator {
background: url('http://relentpress.com/wp-content/uploads/2014/06/indicators1.png') no-repeat;
bottom: -27px;
display: block;
height: 88px;
position: absolute;
right: 69px;
width: 46px;
}

.text-img h2 {
text-align: right;
font-weight: 700;
font-size: 42px;
line-height: 30px;
margin-bottom: 42px;
}

.text-img .inner {
padding-right: 234px;
}

.text-img .indicator {
background: url('http://relentpress.com/wp-content/uploads/2014/06/indicators1.png') 0 -98px no-repeat;
bottom: -18px;
display: block;
height: 170px;
left: 35px;
position: absolute;
width: 67px;
}

.img-text2 {
padding: 0 148px 67px 117px;
position: relative;
}

.img-text2 h2 {
text-align: left;
font-weight: 700;
font-size: 42px;
line-height: 30px;
margin-bottom: 42px;
}

.indicator2 {
background: url('http://relentpress.com/wp-content/uploads/2014/06/indicators1.png') 0 -278px no-repeat;
bottom: 10px;
display: block;
height: 68px;
left: 288px;
position: absolute;
width: 235px;
}

.img-text3 {
padding: 0 138px 125px 117px;
position: relative;
}

.img-text3 h2 {
text-align: right;
font-weight: 700;
font-size: 42px;
line-height: 30px;
}

.img-text3 .inner {
padding-right: 175px;
}

.indicator3 {
background: url('http://relentpress.com/wp-content/uploads/2014/06/indicators1.png') 0 -355px no-repeat;
bottom: -33px;
display: block;
height: 142px;
left: 456px;
position: absolute;
width: 157px;
}

.img-text4 {
padding: 0 0 108px 117px;
position: relative;
}

.img-text4 h2 {
text-align: left;
font-weight: 700;
font-size: 42px;
line-height: 30px;
margin-bottom: 42px;
}

.img-text4 .inner {
padding: 0 146px 0 196px;
}


body.page-id-90 .fl-page-content {background:transparent;}


.homehead {
text-align:center;
color: #FFF;
font-size: 95px;
line-height: 1;
font-family: 'Advent Pro',sans-serif;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.homesubhead {color: #FFF;
font-family: 'Roboto',sans-serif;
font-size: 17px;
font-weight: 300;
line-height: 1.625;
text-align: center;}

.homesubhead .fl-module-content {margin-top: 0;}

h4.widget-title {color: #FFF;
text-align: center;
padding-bottom: 20px;
font-size: 16px;
text-transform: uppercase;
margin-bottom:0;
font-weight: 300;
line-height: 1.2;}

.widget-title::before {margin-right: 12px;}

.widget-title::after {margin-left: 12px;}

.widget-title::before, .widget-title::after {content: " ";
display: inline-block;
border-top: 2px solid #FFF;
padding-bottom: 4px;
width: 15%;}