/*

Theme Name: Oak Ridge Winery

Author: Mybej Bej

Description: Oak Ridge Winery by Relentpress.

Version: 1.0

Template: genesis

*/

*{
	padding:0;
	margin:0;
	list-style:none;
}
a{color:#cc8515;}
a:hover{
	text-decoration:none;
}

div.wrap{
	max-width:1456px;
	padding:0 20px;
	height:100%;
	margin:0 auto;
}

body{
	background:#736b49;
	font-family: "Cinzel";
	color:#f7eac8;
}

header{
	background:#231f20;
	max-height:171px;
	border-bottom:1px solid #fff;
	position:relative;
	z-index:95;
}

header #brands-container{
	height:44px;
	background:#736b49;
	border-bottom:1px solid #d0d1d1;
}

header #brands-container #logo-container{
	display: inline;
	position:relative;
	z-index:95;
}

.smoothScale{
	transition: all 0.55s ease-in-out;-webkit-transition: all 0.55s ease-in-out;-moz-transition: all 0.55s ease-in-out;
}

/* 
 *	BRANDS  
 */

header #brands-container ul#brands{
	max-width:77%;
	/*max-width: calc(100% - 313px);*/
	float:right;
	margin-bottom:0px;
}

header #brands-container #brands li{
	float:left;
	text-align:center;
	height:43px;
}

header #brands-container ul#brands li a{
	display:inline-block;
	font-size:28px;
	color:#f7eac8;
	height:100%;
	padding:5px 28px;
}


header #brands-container ul#brands li:after{
	position:absolute;
	display:inline-block;
	content:"";
	height:22px;
	border-right:1px dotted #d4caa5;
	margin-top:11px;
}

header #brands-container ul#brands li:last-child:after{
	border-right:none;
}

header #brands-container ul#brands a.icon-maggio{
	font-size:14px;
	padding:14px 28px;
}

header #brands-container ul#brands li a.icon-lodi-estates{
	font-size:22px;
	padding:10px 28px;
}

header #brands-container ul#brands li a.icon-moss-roxx {
	font-size:17px;
	padding:12px 28px;
}
header #brands-container ul#brands li a.icon-silk-oak{
	font-size:24px;
	padding:8px 28px;
}

header #brands-container ul#brands li a.icon-old-soul {
	font-size:19px;
	padding:11px 28px;
}

header #brands-container ul#brands li:hover a{
	color:#736b49;
}

header #brands-container ul#brands li:hover{
	background:#fff;
}

header #navigation-container{
	height:126px;
}
/* 
 *	BRANDS END 
 */

/* 
 *	SECONDARY MENU 
 */

header #navigation-container #secondary-container{
	width:auto;
	float:right;
}


header #navigation-container ul.secondary-menu{
	display:inline-block;
	margin-top:20px;
	float:right;

}

header #navigation-container ul.secondary-menu li{
	float:right;
	padding-left:30px;
}

header #navigation-container ul.secondary-menu li a{
	font-family: "Cinzel";
	text-transform: uppercase;
	color:#fff;
	font-size:16px;
}

header #navigation-container ul.secondary-menu li a:hover{
	color:#cc8515;
}

/* 
 *	SECONDARY MENU END
 */

/* 
 *	PRIMARY MENU 
 */

header #navigation-container ul.primary-menu{
	display:inline-block;
	width:auto;
	margin-top:38px;
	float:left;
	margin-left:300px;
}

header #navigation-container ul.primary-menu li{
	float:left;
	padding-left:35px;
}

header #navigation-container ul.primary-menu li a{
	font-family: "Cinzel";
	text-transform: uppercase;
	float:left;
	font-size:18px;
	color:#fff;
}

header #navigation-container ul.primary-menu li a:hover{
	color:#cc8515;
}

/* 
 *	PRIMARY MENU END
 */

/* MOBILE MENU BRANDS */

#mobile-menu-brands + label,
#mobile-menu-brands{
	display:none;
}

#mobile-menu-brands + label{
	float:right;
	margin-bottom:0;
}

#mobile-menu-brands + label:after {
	display:block;
	content:"Brands";
	float:right;
	background:#d4caa5;
	color:#736b49;
	padding:7px 20px;
	font-size:20px;
	height:100%;
	font-family: "Cinzel";
	width:148px;
	height:44px;
	text-align: center;
	cursor:pointer;
}

#mobile-menu-brands + label:hover:after,
#mobile-menu-brands + label:hover{
	background:#fff!important;
}

#mobile-menu-brands:checked ~ ul#brands{
	display:block;
}
		
/* MOBILE MENU BRANDS END */


/* MOBILE MENU SECONDARY - PRIMARY END */

#mobile-menu-primary-secondary + label,
#mobile-menu-primary-secondary{
	display:none;
}

#mobile-menu-primary-secondary + label{
	float:right;
	margin-top:6px;
}

#mobile-menu-primary-secondary + label:after {
	display:block;
	content:"Menu";
	float:right;
	background:#d4caa5;
	color:#736b49;
	padding:7px 20px;
	font-size:20px;
	height:100%;
	font-family: "Cinzel";
	width:148px;
	height:44px;
	text-align: center;
	cursor:pointer;
}

#mobile-menu-primary-secondary + label:hover:after,
#mobile-menu-primary-secondary + label:hover{
	background:#fff!important;
}

#mobile-menu-primary-secondary:checked ~ ul.primary-menu,
#mobile-menu-primary-secondary:checked ~ #secondary-container{
	display:block;
}

/* MOBILE MENU SECONDARY - PRIMARY END */

form#search-bar,
header #navigation-container form#mailing-list{
	position:relative;
	left:30px;
	display:inline-block;
	float:left;
	margin-top:19px;
	padding:0;
}

form#search-bar input[type=text],
header #navigation-container form#mailing-list input[type=text]{
	font-family: "Open Sans";
	font-size:12px;
	background:#faf5de;
	border:none;
	height:20px;
	line-height:18px;
	width:160px;
	padding:0px 10px;
	color:#726b48;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	outline:none;
}

form#search-bar input[type=submit],
header #navigation-container form#mailing-list input[type=submit]{
	font-family: "Open Sans";
	font-size:12px;
	padding:0 8px 4px;
	height:18px;
	color:#faf5de;
	background:#a07137;
	border:none;
	line-height:18px;

	position:relative;
	left:-35px;

	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

form#search-bar{
	left:100%;
	margin-left:-180px;
	width:200px;
	z-index:90;
}
form#search-bar input[type=text]{
	border:2px solid #9f7036;
}
form#search-bar input[type=submit]{
	background:#000;
}

/* SLIDER - PARALLAX */

section#slider-cover{
	background:url(images/bgcover.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:620px;
}

section#slider-cover #welcome-message-container{
	position:relative;
	border:1px solid transparent;
	width:100%;
}

section#slider-cover #welcome-message-container #welcome-message{
	background:#f7efcb url(images/welcome.png) center center no-repeat;
	position:relative;
	max-width:1093px;
	width:100%;
	min-height:173px;
	margin:0 auto;
	margin-top:380px;
}

section#slider-cover #welcome-message-container #welcome-message h2,
section#slider-cover #welcome-message-container #welcome-message p{
	position:relative;
	display:inline-block;
	width:100%;
}

section#slider-cover #welcome-message-container #welcome-message h2{
	text-align:center;
}

section#slider-cover #welcome-message-container #welcome-message p{
	color:#000;
	font-family: "Open Sans";
	font-size:13px;
	padding:0 15%;
	text-align:center;
}


/* SLIDER - PARALLAX END*/

/* TILE GRID ( Just above the What's New ) */

section#tile-grid{
	height:auto;
	background:#736b49;
}

section#tile-grid #grid-container{
	height:auto;
	border-left:1px solid #fff;
	border-right:1px solid #fff;


	-moz-box-shadow: 12px 0 15px -4px rgba(71, 63, 38, 0.4), -12px 0 8px -4px rgba(71, 63, 38, 0.4);
	-webkit-box-shadow: 12px 0 15px -4px rgba(71, 63, 38, 0.4), -12px 0 8px -4px rgba(71, 63, 38, 0.4);
	box-shadow: 12px 0 15px -4px rgba(71, 63, 38, 0.4), -12px 0 8px -4px rgba(71, 63, 38, 0.4);
}

span#grid-column{
	width:33.33%;
	display:block;
	float:left;
}

span#grid-column:nth-child(2){
	border-right:1px solid;
	border-left:1px solid;
}

.add-top-border .tile-style-1{
	border-top:1px solid #fff;
}

.add-bottom-border .tile-style-1{
	border-bottom:1px solid #fff;
}

section#tile-grid #grid-container .tile-style-1{
	height:198px;
	width:100%;
	display:block;
	float:left;

}

section#tile-grid #grid-container .tile-style-1 img{
	width:100%;
	height:100%;
}

section#tile-grid #grid-container .tile-style-1 .l{
	float:left;
	width:50%;
	border-right:1px solid #fff;
	height:100%;
}

section#tile-grid #grid-container .tile-style-1 .r{
	float:right;
	width:50%;
	height:100%;
	padding:15px 25px;
	font-family: "Open Sans";
	font-size:13px;
	color:#fff;

	-moz-box-shadow: 0 0 50px #473f26;
	-webkit-box-shadow: inset 0 0 50px#473f26;
	box-shadow: inner 0 0 50px #473f26;
}

section#tile-grid #grid-container .tile-style-1 .r.orange{
	background:#ce8719;

	-moz-box-shadow: 0 0 50px #955d12;
	-webkit-box-shadow: inset 0 0 50px#955d12;
	box-shadow: inner 0 0 50px #955d12;
}

section#tile-grid #grid-container .tile-style-1 .r.orange p{
	color:#000;
}

section#tile-grid #grid-container .tile-style-1 .r.orange h3{
	margin-top:25px;
}

section#tile-grid #grid-container .tile-style-1 .r p{
	margin-bottom:0;
}

section#tile-grid #grid-container .tile-style-1 .r a{
	font-family: "Open Sans";
	font-size:13px;
	color:#f7eac8;
}

section#tile-grid #grid-container .tile-style-1 .r a.signup{
	display:block;
	background:#cd8618;
	border:5px solid #cd8618;
	width:118px;
	text-align: center;
	font-size:16px;
	text-transform: uppercase;
	font-family: "Cinzel";
	margin-top:15px;
}

section#tile-grid #grid-container .tile-style-1 .r a.signup:hover{
	background:#fff;
	color:#cd8618;
	border-color:#fff;
}

section#tile-grid #grid-container .tile-style-1 .r a.signup span{
	display:block;
	padding:0px 14px;
	border:1px solid #fff;
}

/* tile-style-2 */

section#tile-grid #grid-container .tile-style-2{
	min-height:260px;
	width:100%;
	float:left;
}

section#tile-grid #grid-container .tile-style-2 .l{
	display:inline-block;
	float:none;
	width:100%; 
	height:146px;
}

section#tile-grid #grid-container .tile-style-2 .r{
	display:inline-block;
	float:none;
	min-height:115px;
	background:#f7efcb;

	padding:20px 60px;
	font-family: "Open Sans";
	font-size:13px;
	color:#000;

	-moz-box-shadow: 0 0 50px #473f26;
	-webkit-box-shadow: inset 0 0 50px#473f26;
	box-shadow: inner 0 0 50px #473f26;
}

section#tile-grid #grid-container .tile-style-2 .r h3{
	color:#ce8719;
}

section#tile-grid #grid-container .tile-style-2 .r p{
	margin-bottom:0;
}

section#tile-grid #grid-container .tile-style-2 .r a{
	font-family: "Open Sans";
	font-size:13px;
	color:#ce8719;
}


section#tile-grid #grid-container .tile-style-2 .r.orange{
	background:#ce8719;
	-moz-box-shadow: 0 0 50px #955d12;
	-webkit-box-shadow: inset 0 0 50px#955d12;
	box-shadow: inner 0 0 50px #955d12;	
}

section#tile-grid #grid-container .tile-style-2 .r.orange h3,
section#tile-grid #grid-container .tile-style-2 .r.orange a{
	color:#fff;
}

section#tile-grid #grid-container .tile-style-2 .l img{
	height:100%;
	max-height:145px;
	width:100%;
}


/* TILE GRID END*/

/* WHATS NEW AT OAKRIDGE */

section#whats-new{
	background:#62481e;
	min-height:240px;
	padding:15px 0 40px;
	border-top:1px solid #fff;
}

section#whats-new #row{
	max-width:1200px;
	width:100%;
	margin:0 auto;
}

/* WHATS NEW AT OAKRIDGE END */

/* TRADE TOOLS */
section#trade-tools{
	color:#000;
}

section#trade-tools .border{
	background:#f7eac8;
	border-left:1px solid #888;
	border-right:1px solid #888;
	padding:0 15px;


	-moz-box-shadow: 0 0 50px #938971;
	-webkit-box-shadow: inset 0 0 50px#938971;
	box-shadow: inner 0 0 50px #938971;
}


.border section{
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	padding:60px 0px;
}

.border section aside{
	max-width:290px;
	width:21%;
	float:left;
	border-right:1px dotted #ac7f45;
}

.border section aside h2.title{
	border-bottom:1px dotted #ac7f45;
	margin-left:30px;
	padding-right:30px;
	padding-bottom:15px;
	text-align:right;
	color:#000;
	font-family: "Prata";
	text-transform: uppercase;
	font-size:18px;
}

.border section aside ul.menu{
	width:100%;
	padding:0 30px;
}

.border section aside ul.menu li{
	text-align:right;
	padding:10px 0;
}

.border section aside ul.menu li ul.sub-menu li{
	padding:2px 0;
}
.border section aside ul.menu li ul.sub-menu li a{
	font-family: "EB Garamond";
	font-size:16px;
	text-transform: capitalize;
	color:#000;
}

.border section aside ul.menu li ul.sub-menu li.current-menu-item a,
.border section aside ul.menu li ul.sub-menu li.current_page_item a,
.border section aside ul.menu li ul.sub-menu li a:hover{
	color:#cd8618;
}

.border section aside ul.menu li a{
	color:#726b48;
	font-family: "Cinzel";
	font-size:18px;
	text-transform: uppercase;
}

.border section aside ul.menu li.current-menu-item a,
.border section aside ul.menu li.current_page_item a,
.border section aside ul.menu li a:hover{
	color:#cd8618;
}

.border section article{
	max-width:950px;
	width: 75%;
	float:right
}

.border section article .row{
	margin-top:50px;
}

.border section article .brand-entry{
	width:386px;
	height:450px;
	border:2px solid #d0c6b1;
	background:#fdfbee;
	margin-bottom:60px;
	padding:0 40px;

	-moz-box-shadow: 0 0 50px #dbd2bd;
	-webkit-box-shadow: inset 0 0 50px#dbd2bd;
	box-shadow: inner 0 0 50px #dbd2bd;
}

.border section article .brand-entry .title{
	color:#726b48;
	font-size:20px;
	font-family: "Cinzel";
	text-align:center;
	margin:0 auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height:24px;
	padding:30px 0 20px 0;
	border-bottom:1px dotted #ac7f45;
}


.border section article .brand-entry .featured-image{
	display:inline-block;
	margin:25px 25px 25px 0;
	float:left;
}

.border section article .brand-entry .excerpt{
	margin:20px 0;
	display:inline-block;
	color:#000;
	font-family: "EB Garamond";
	font-size:14px;
	float:left;
}

.border section article .brand-entry .excerpt p{
	display:block;
}


/* TRADE TOOLS END*/


/* The Wines*/


section#the-wines .border{
	background:#fff;
	border-left:1px solid #888;
	border-right:1px solid #888;
	padding:0 15px;
	height:auto;

	-moz-box-shadow: 0 0 50px #999;
	-webkit-box-shadow: inset 0 0 50px#999;
	box-shadow: inner 0 0 50px #999;
}

section#the-wines .border section{
	background: url(images/the-wines-bg.png) center center no-repeat;
}

section#the-wines .border section article{
	max-width:100%;
}

section#the-wines .border section article h1{
	margin:15px 0;
	color:#726b48;
	font-size:20px;
	font-family: "Cinzel";
}

section#the-wines .border section article, 
section#the-wines .border section article p{
	font-family: "EB Garamond";
	font-size:18px;
	color:#000;
}

section#the-wines .border section article .media .media-body{
	padding:0 60px 0 30px;
}

section#the-wines .border section article #download{
	border-bottom:1px dotted #ac7f45;
	border-top:1px dotted #ac7f45;
	min-height:280px;
	margin-top:60px;
}

section#the-wines .border section article #download .row{
	margin-top:0;
}

section#the-wines .border section article #download .row p{
	margin-bottom:0;
}
section#the-wines .border section article #download{
	min-height:280px;
}
section#the-wines .border section article #download .download-image{
	height:280px;
}
section#the-wines .border section article #download .download-section img{
	margin-right:5px;
}
section#the-wines .border section article #download .download-section{
	background:#f7eac8;
	position:relative;
	z-index:20;
	padding:0px 40px;
	height:280px;
	font-size:18px;
	color:#726b48;
	line-height:40px;
	letter-spacing: 3px;
	padding-top:60px;
}

.header-wine header #navigation-container ul.primary-menu{
	visibility: hidden;
}

.header-wine header{
	background:#fff;

	-moz-box-shadow: 0 0 50px #999;
	-webkit-box-shadow: inset 0 0 50px#999;
	box-shadow: inner 0 0 50px #999;
}

.header-wine header #brands-container{
	height:43px;
}

.header-wine header #navigation-container ul.secondary-menu li a{
	color:#000;
}

.home-logo-link{
	background:#fff;
	width:100%;
	max-width:313px;
	height:43px;
	display:inline-block;
	text-align:center;
	color:#000;
	font-size:18px;
	padding:10px 0;
}

.home-logo-link:hover{
	background:#d4caa5;
	color:#736b49;
}

.header-wine .icon-silk-oak.cat-logo{
	color:#000;
	font-size:82px;
	position:relative;
	top:20px;
}

/* The Wines END*/


/* Purchase */


section#purchase .border{
	background:#f7eac8;
	border-left:1px solid #888;
	border-right:1px solid #888;
	padding:0 15px;


	-moz-box-shadow: 0 0 50px #938971;
	-webkit-box-shadow: inset 0 0 50px#938971;
	box-shadow: inner 0 0 50px #938971;
}


#purchase .border article{
	max-width:70%;
	width:100%;
	float:left;
	padding-left:30px;
	color:#000;
}

#purchase .border aside p,
#purchase .border article p{
	font-family:"EB Garamond";
	font-size:14px;
}

#purchase .border aside h3,
#purchase .border article h3{
	font-family: "Cinzel";
	color:#726b48;

}

#purchase .border aside img,
#purchase .border article img{
	width:100%;
}

#purchase .border .col-md-8{
	padding-right:0;
	padding-left:0;
	margin-top:0;
}

#purchase .border aside{
	max-width:29%;
	width:100%;
	float:right;
	padding:0 30px;
	color:#000;
	border:none;
	border-left: 1px dotted #ac7f45;
}

#purchase .border aside form{

}

#purchase .border aside form h5{
	font-size:17px;
	font-family: "Cinzel";
	color:#000;
	text-transform: uppercase;
	font-weight:400;
}

#purchase .border aside form label{
	font-size:15px;
	font-family: "Cinzel";
	color:#000;
	font-weight:100;
	text-transform: uppercase;
}

#purchase .border aside form .no-padding-left{
	padding-left:0;
}

#purchase .border aside form .text-style-1{
	font-size:14px;
	font-family: "Open Sans";
	text-transform: lowercase;
	color:#000;
	font-weight:400;
}

#purchase .border aside form input[type=text],
#purchase .border aside form input[type=email]{
	font-size:10px;
	font-family: "Open Sans";
	width:100%;
	border:1px solid #b3ab8c;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#b89164;
	padding:2px 5px;
	margin-bottom:7px;
	outline: none;
}

/* Purchase END*/

/* ABOUT US */


section#about-us .border{
	background:#f7eac8;
	border-left:1px solid #888;
	border-right:1px solid #888;
	padding:0 15px;


	-moz-box-shadow: 0 0 50px #938971;
	-webkit-box-shadow: inset 0 0 50px#938971;
	box-shadow: inner 0 0 50px #938971;
}


section#about-us .border aside{
	width:100%;
	max-width:21%;
}

section#about-us .border article{
	width:100%;
	max-width:75%;
}
section#about-us h1{
	font-size:22px;
	margin-top:15px;
	margin-bottom:20px;
}
section#about-us .border article{
	padding-right:60px;
}

section#page .border article img.pull-left,
section#about-us .border article img.pull-left{
	padding-right:30px;
}

section#page .border article img.pull-right,
section#about-us .border article img.pull-right{
	padding-left:30px;
}

section#about-us .border article,
section#about-us .border article p{
	font-family: "EB Garamond";
	font-size:18px;
	color:#000;
}

/* ABOUT US . END */

/* PAGE DEFAULT */
section#page .border{
	background:#f7eac8;
	border-left:1px solid #888;
	border-right:1px solid #888;
	padding:0 15px;


	-moz-box-shadow: 0 0 50px #938971;
	-webkit-box-shadow: inset 0 0 50px#938971;
	box-shadow: inner 0 0 50px #938971;
}

section#page .border aside{
	max-width:21%;
	width:100%;
}
section#page .border article{
	max-width:75%;
	width:100%;
	padding-right:60px;
}
section#page .border article p,
section#page .border article{
	color:#000;
	font-size:18px;
	font-family: "EB Garamond";
}
	/*Fullwidth*/
	section#page.fullwidth .border article{
		max-width:100%;
		width:100%;
		padding:15px;
		padding-right:45px;
	}
/* PAGE DEFAULT . END*/


/* BLOG PAGE */

#timeline{
    overflow: hidden;
    padding:20px 20px;
}

#timeline .item{
	background:#f7efcb;
	border:1px solid #a8a07c;
}

#timeline .item{
	margin-right:20px;
	margin-bottom:20px;

	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

#timeline .item .item-border{
	border:1px solid #fbf7ec;
	margin:10px;
	padding:15px;

	-webkit-box-shadow: 0px 0px 30px 0px rgba(227,205,147,0.9), inset  0px 0px 30px rgba(227,205,147,0.6);
	-moz-box-shadow: 0px 0px 30px 0px rgba(227,205,147,0.9), inset  0px 0px 30px rgba(227,205,147,0.6);
	box-shadow: 0px 0px 30px 0px rgba(227,205,147,0.9), inset  0px 0px 30px rgba(227,205,147,0.6);
}


#timeline .item .item-border,
#timeline .item .item-border p{
	color:#000;
	font-family: "Open Sans";
	font-size:11px;
}

#timeline .item .item-border h3{
	padding:0;
	margin:0 0 5px 0;
	color:#726b48;
	font-weight:800;
	font-size:14px;
	font-family: "Cinzel";
}

#timeline .item .item-border img{
	width:100%;
	margin-bottom:20px;
}

#timeline .item .item-border a.title{
	display:inline-block;
	font-family: "EB Garamond";
	font-size:18px;
	line-height:20px;
	color:#000;
	margin-bottom:20px;
}

#timeline .item .item-border a.read-more{
	color:#cd8618;
	font-family: "EB Garamond";
	font-size:14px;
}


section#page .fullwidth.blog .border img,
section#page .fullwidth.blog .border embed,
section#page .fullwidth.blog .border object{
    display: block;
    max-width: 100%;
}


/* BLOG PAGE END*/

/* SINGLE */
#single .single-border p{
	padding-top:0px;
	margin-top:10px;
}

.single-post-thumbnail{
	padding:10px;
	margin:10px;
	border:1px solid #ddd;
}

.single-post-thumbnail img{
	width:100%;
	height:auto;
}

/* SINGLE END*/

/* FOOTER */

footer#section{
	padding-top:30px;
	background:#231f20;
}

footer#section #footer-logo{
	display:block;
	margin-bottom:15px;
}

footer#section [itemscope]{
	margin-top:15px;
}

footer#section #footer-left{
	float:left;
}

footer#section #footer-right{
	float:right;
}

footer #footer-right div.widget,
footer .box-column{
	float:left;
	margin-right:10px;
	display:inline;
}

footer #footer-right div.widget:last-child,
footer .box-column:last-child{
	margin-right:0;
}

footer #footer-right div.widget ul li,
footer .box-column ul li{
	width:84px;
}


footer #footer-right div.widget ul li a,
footer .box-column ul li a{
	font-size:13px;
	font-family: "Open Sans";
	color:#f7eac8;
	line-height:26px;
}


footer #footer-right div.widget ul li a:hover,
footer .box-column ul li a:hover{
	color:#cc8515;
}

footer #footer-right div.widget h3,
footer h3{
	margin-top:0;
	font-size:14px;
	color:#fff;
	width:84px;
}

/* SOCIAL MEDIA */
footer #social-media a i{
	display:inline-block;
	padding:5px;
	font-size:20px;
	width:30px;
	background:#726b48;
	color:#f7eac8;
	text-align:center;
}

footer #social-media a{
	display:inline-block;
	border:2px solid #f7eac8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left:5px;
}

footer #social-media a:hover i{
	background:#f7eac8;
	color:#726b48;
}


/* FOOTER SECTION END */

footer#copyright{
	background:#231f20;
	padding:40px 0 20px;
}

footer#copyright p{
	font-size:16px;
}

/* FOOTER END */