#ithemes_security_content .row_detailed .rd .row_updatee_ind .label_updatee .label .high {
    background: #ad3f3f;
border-radius: 2px;
padding: 1px 3px;
color: #fff;
font-weight: 400;
font-size: 11px;
text-transform: none;
}
#ithemes_security_content .row_detailed .rd .row_updatee_ind .label_updatee .label .medium {
    background: #8c8b26;
    border-radius: 2px;
padding: 1px 3px;
color: #fff;
font-weight: 400;
font-size: 11px;
text-transform: none;
}
#ithemes_security_content .row_detailed .rd .row_updatee_ind .label_updatee .label .low {
    background: #74b3ce;
border-radius: 2px;
padding: 1px 3px;
color: #fff;
font-weight: 400;
font-size: 11px;
text-transform: none;
}
#ithemes_security_content .row_detailed .rd .row_updatee_ind .label_updatee {
width: 125px;
}
#ithemes_security_content .row_detailed .rd .row_updatee_ind .label_updatee .label {
width: 43px;
}
#ithemes_security_content .row_detailed .rd .row_updatee_ind .item {
width: 722px;
}
#ithemes_security_content .row_detailed .rd .row_updatee_ind .items_cont {
width: 798px;
}
#ithemes_security_content .select_operation {
width: 45px;
}
#ithemes_security_content .count_cont {width:auto;}
#ithemes_security_installation_bulk {
text-transform: none;
font-size: 12px;
font-weight: 400;
}