<span style='color: #000' title='Frames'>    63</span><span style='color: #009' title='Memory'>  35840.00 KB</span><span style='color: #900' title='Time'>    232.92 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />