@font-face {
	font-family: 'oakridge';
	src:url('../fonts/oakridge.eot?-aa377j');
	src:url('../fonts/oakridge.eot?#iefix-aa377j') format('embedded-opentype'),
		url('../fonts/oakridge.woff?-aa377j') format('woff'),
		url('../fonts/oakridge.ttf?-aa377j') format('truetype'),
		url('../fonts/oakridge.svg?-aa377j#oakridge') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'oakridge';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\f04b";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-reddit-square:before {
	content: "\f1a2";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-deviantart:before {
	content: "\f1bd";
}
.icon-sliders:before {
	content: "\f1de";
}
.icon-leaf:before {
	content: "\e608";
}
.icon-oak-ridge-winery:before {
	content: "\e600";
}
.icon-helena-ranch:before {
	content: "\e601";
}
.icon-lodi-estates:before {
	content: "\e602";
}
.icon-maggio:before {
	content: "\e603";
}
.icon-moss-roxx:before {
	content: "\e604";
}
.icon-old-soul:before {
	content: "\e605";
}
.icon-ozv:before {
	content: "\e606";
}
.icon-silk-oak:before {
	content: "\e607";
}

.fs10{font-size:10px!important;}
.fs11{font-size:11px!important;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.color-black{color:#000;}
.color-brown{color:#726b48;}
.font-family-cinzel{font-family:"Cinzel";}
.font-family-prata{font-family:"Prata";}
.font-family-open-sans{font-family:"Open Sans"!important;}

h3{
	font-size:18px;
    position: relative;
    margin-top: 20px;
}

.style-middle-line3,
.style-middle-line2,
.style-middle-line{
	text-align:center;
}

.style-middle-line3 span,
.style-middle-line2 span,
.style-middle-line span {
	background:#62481e;
	padding: 0 10px;
	position: relative;
	z-index: 5;
}

.style-middle-line3:before,
.style-middle-line2:before,
.style-middle-line:before{
	content: "";
	display: block;
	border-top: solid 1px #f7eac8;
	width: 80%;
	height: 1px;
	position: absolute;
	left:10%;
	top: 50%;
	z-index: 1;
}

.style-middle-line2{
	color:#726b48;
}


.style-middle-line2 span{
	background:#f7eac8;
}

.style-middle-line2:before{
	border-color:#726b48;
}



.style-middle-line3{
	margin-top:60px;
}

.style-middle-line3 span{
	background:#736b49;
}


section#whats-new .entry p{
	font-family: "Open Sans";
	font-size:11px;
	margin-top:15px;
	margin-bottom:15px;
}

#whats-new .entry p.byline.post-info{
	margin-bottom:0;
	margin-top:0;
}
#whats-new .entry .post-info span.date,
h3.date{
	font-family: "Cinzel";
	font-size:14px;
	color:#f7eac8;
	font-weight:700;
	margin-bottom:2px;
}

#whats-new .entry h2,
#whats-new .entry h2 a,
h3.title{
	font-family: "EB Garamond";
	font-size:18px;
	color:#fff;
	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
}

section#whats-new .entry p a.more-link,
a.readmore{
	font-family: "EB Garamond";
	font-size:14px;
	color:#cd8618;
	display:block;
	margin-top:15px;
}

section#tile-grid h3{
	font-family: "Cinzel";
	margin:0;
}

h2{
	font-family: "Cinzel";
	font-size:22px;
	color:#726b48;
}

h1{
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
}


h1.single-title{
	color:#726b48;
	font-size:22px;
}

#single div.wrap{
}

.single-border{
	padding:20px;
	height:100%;
	background:#fff;
}

.single-border p{
	font-family: "EB Garamond";
	color:#000;
	font-size:16px;
	padding:30px 0 0 0;
	width:100%;
}

h1.style-404{
	color:#726b48;
	font-size:80px;
}

h1.style-404 span{
	opacity:.75;
	font-size:60px;
}