/* Design Default 1456 - 1473*/
@media (max-width: 1473px){

	header #brands-container ul#brands a.icon-maggio,
	header #brands-container ul#brands li a.icon-lodi-estates,
	header #brands-container ul#brands li a.icon-moss-roxx,
	header #brands-container ul#brands li a.icon-silk-oak,
	header #brands-container ul#brands li a.icon-old-soul,
	header #brands-container ul#brands li a{
		padding-left:17px;
		padding-right:16px;
	}

}

@media (max-width: 1365px){
	section#the-wines .border section article #download .download-image{
		width:100%;
	}
}

@media (max-width: 1279px){
	/* PURCHASE ~ CLUB */
	#purchase .border article{
		max-width:100%;
		float:none;
	}
	#purchase .border aside{
		border:none;
		padding:0;
		padding-top:60px;
		max-width:50%;
		float:none;
		margin:0 auto;
	}
	/* PURCHASE ~ CLUB END*/

	/* BRANDS MENU */

	header #brands-container ul#brands{
		display:none;
	}

	header #brands-container ul#brands{
		position:absolute;
		z-index: 99;
		margin-top:44px;
		margin-right:20px;
		background:#736b49;
		right:0;
		top:0;
		width:auto;
		clear:both;
	}

	header #brands-container ul#brands li{
		float:none;
		text-align:center;
		height:53px;
		padding-top:5px;
		padding-bottom:5px;

		border-left:1px dotted #d4caa5;
		border-right:1px dotted #d4caa5;
		border-bottom:1px dotted #d4caa5;
	}


	
	header #brands-container ul#brands li:after{
		border:none;
	}

	#mobile-menu-brands + label{
		display:inline;
		position: relative;
		z-index: 100;
	}

	/* BRANDS MENU END */

	header #navigation-container ul.primary-menu{
		float:right;
	}

	header #navigation-container ul.primary-menu li{
		padding-left:10px;
	}

	header #navigation-container ul.secondary-menu li{
		padding-left:10px;
	}

	header #navigation-container ul.secondary-menu li a{
		font-size:12px;
	}

	header #navigation-container ul.primary-menu li a{
		font-size:14px;
	}

	/* FOOTER */

	footer#section #footer-left{
		float:none;
		display:block;
		width:25%;
		margin:0 auto;
		text-align:center;
		min-width:248px;
	}

	footer#section #footer-right{
		float:none;
		display:block;
		width:80%;
		margin:auto;
		margin-bottom:40px;
	}

	footer#copyright p{
		text-align:center;
	}

	/* FOOTER END */


	/* TILE GRID */
	section#tile-grid #grid-container .tile-style-1{
		height:250px;
	}
	section#tile-grid #grid-container .tile-style-1 .r{
		padding:5px 20px;
	}
	/* TILE GRID END */

}

@media (max-width: 1180px){
	/* TRADE TOOLS */
	section#trade-tools .border section article .col-md-6{
		width:100%;
		float:none;
	}

	section#trade-tools .border section article .col-md-6 .brand-entry{
		margin:0 auto;
		margin-bottom:60px;
	}

	.border section aside h2.title{
			padding-right:10px;
	}

	.border section aside ul.menu{
			padding:0 10px;
	}

	.border section aside ul.menu li a{
		font-size:14px;
	}
	/* TRADE TOOLS END */
}

@media (max-width: 1050px){
	section#slider-cover #welcome-message-container #welcome-message{
		position:absolute;
		background:#f7efcb;
		margin-top:140px;
	}
}

@media (max-width:1018px){
	/* TILE GRID */
	section#tile-grid #grid-container .tile-style-1{
		height:300px;
	}
	/* TILE GRID END */
}

@media (max-width:991px){
	#purchase .border aside form .no-padding-left{
		padding-left:15px;
	}
}

@media (max-width:960px){
	/* TILE GRID */
	span#grid-column{
		width:100%;
		float:none;
		margin:0 auto;
	}
	section#tile-grid #grid-container .tile-style-1{
		height:180px;
	}
	section#tile-grid #grid-container .tile-style-1 .r{
		padding:20px;
	}
	section#tile-grid #grid-container .tile-style-2 .r{
		width:100%;
	}
	/* TILE GRID END */
}

@media (max-width:910px){


	/* SECONDARY PRIMARY MENU END */
	header #navigation-container #secondary-container,
	header #navigation-container ul.primary-menu{
		display:none;
	}

	#mobile-menu-primary-secondary + label{
		display:inline;
		position: relative;
		z-index: 98;
	}

	header #navigation-container ul.primary-menu,
	header #navigation-container ul.secondary-menu{
		position:relative;
		z-index: 90;
		background:#231f20;
		width:100%;
		margin:0;
		clear:both;
	}

	header #navigation-container ul.secondary-menu{
		/*margin-top:73px;*/
	}

	header #navigation-container ul.primary-menu li,
	header #navigation-container ul.secondary-menu li{
		float:none;
		padding-left:0;
		display:block;
		padding-left:0;
		padding:10px 20px;
		font-size:16px;
	}

	header #navigation-container ul.primary-menu li a,
	header #navigation-container ul.secondary-menu li a{
		float:none;
		display:block;
		font-size:14px;
	}


	header #navigation-container ul.primary-menu li:hover,
	header #navigation-container ul.secondary-menu li:hover{
		background:#353132;
	}
	header #navigation-container ul.primary-menu li:hover a,
	header #navigation-container ul.secondary-menu li:hover a{	
		color:#cc8515;
	}

	header #navigation-container #secondary-container{
		width:100%;
	}

	header #navigation-container form#mailing-list{	
		background:#231f20;	
		display: block;
		float: none;
		left:0;
		margin-bottom:0;
		padding:10px 20px 10px 20px;
		margin-top: 73px;
	}

	header #navigation-container form#mailing-list input[type=text]{
		background:#4F4B4C;
		width:100%;
		padding:20px;
		float:none;
		display:block;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	header #navigation-container form#mailing-list input[type=submit]{
		display:none;
	}

	/* SECONDARY PRIMARY MENU END */

	/* The Wine Page*/

	.header-wine header #navigation-container ul.secondary-menu li a{
		color:#fff;
	}

	.header-wine header #navigation-container ul.secondary-menu li:hover a{
		color:#cc8515;
	}

	.header-wine header #navigation-container form#mailing-list{
		margin-top: 43px;
	}

	/* The Wine Page Secondary Menu END */

}


@media (max-width: 767px){
	/* ABOUT US */
	section#page .border article img,
	section#about-us .border article img{
		width:100%;
		float:none;
	}

	.border article img.pull-left{
		padding-right:0;
		padding:15px 0;
	}
	.border article img.pull-right{
		padding-left:0;
		padding:15px 0;
	}
	section#page .border article
	section#about-us .border article{
		padding-right:0;
	}
	section#page .border article,
	section#page .border aside,
	section#about-us .border article,
	section#about-us .border aside{
		max-width:100%;
		float:none;
		margin-left:0;
	}
	section#page .border article{
		padding:15px;
	}
	section#page.fullwidth .border article{
		padding-right:15px;
	}
	/* ABOUT US . END*/
	
	/* PURCHASE ~ CLUB */
	#purchase .border aside{
		max-width:100%;
	}
	/* PURCHASE ~ CLUB END*/
	
	/* The Wines*/

	section#the-wines .border section article #download .download-section{
		line-height:30px;
		letter-spacing: 0px;
	}

	.border section article h1{
		text-align:center;
	}

	section#the-wines .border section article .media .media-left {
		display:block;
		text-align:center;
	}

	section#the-wines .border section article .media .media-body{
		padding:20px;
		display:block;
		width:100%;
	}



	/* The Wines END*/

	.border section article,
	.border section aside{
		position:relative;
		max-width:100%;
		width:100%;
		display:block;
		float:none;
		border:none;
	}

	section#trade-tools .border section article .col-md-6{
		height:auto;
	}
	section#trade-tools .border section article .brand-entry{
		max-width:100%;
		height:100%;
		display:block;
	}


	section#trade-tools .border section article .brand-entry .excerpt,
	section#trade-tools .border section article .brand-entry .featured-image{
		display:block;
		width:100%;
		float:none;
		text-align:center;
	}

	.border section aside h2.title{
		margin-right:30px;
	}

	.border section aside h2.title,
	.border section aside ul.menu li{
		text-align:center;
	}
}

@media (max-width: 540px){
	.home-logo-link{
		max-width:50%;
	}
	.header-wine .icon-silk-oak.cat-logo{
		font-size:30px;
		top:5px;
	}

	header #brands-container #logo-container img{
		width:50%;
		max-height:100px;
	}

	header #navigation-container ul.secondary-menu{
		/*margin-top:3px;*/
	}

	header #navigation-container{
		height:55px;
	}

	header #navigation-container form#mailing-list{	
		background:#231f20;	
		display: block;
		float: none;
		left:0;
		margin-bottom:0;
		padding:10px 20px 10px 20px;
		margin-top: 3px;
	}

	#mobile-menu-primary-secondary + label:after,
	#mobile-menu-brands + label:after{
		font-size:14px;
		padding:10px 10px;
		width:100px;
	}

	/* FOOTER */
	footer#section #footer-left{
		width:auto;
		text-align:left;
	}

	footer#section #footer-right{
		width:auto;
	}

	footer#copyright p{
		text-align:left;
	}
	/* FOOTER END*/

	/* TILE GRID */

	section#tile-grid #grid-container .tile-style-1 .r,
	section#tile-grid #grid-container .tile-style-1 .l,
	section#tile-grid #grid-container .tile-style-2 .r,
	section#tile-grid #grid-container .tile-style-2 .l{
		width:100%;
		float:none;
		display:block;
	}

	section#tile-grid #grid-container .tile-style-1{
		height:auto;
	}

	section#tile-grid #grid-container .tile-style-2 .r{
		padding:20px;
	}

	section#tile-grid #grid-container .tile-style-1 .l{
		border:none;
	}

	section#tile-grid #grid-container .tile-style-1 .l img{
		height:auto;
	}

	.add-top-border .tile-style-1{
		border:none;
	}

	.add-bottom-border .tile-style-1{
		border:none;
	}


	span#grid-column{
		border:none;
	}


	/* TILE GRID */

}