

/* core.css on top */

.selectReport,.selectAll {
	border-top: 1px solid #D2D5D7;
	
}
.reportDeleteIcon {
	background-position: -9px -553px;
	width: 17px;
	height: 17px;
	display:block;
}
.reportEdit {
		display:none;
		margin-left:13px;
		margin-top:4.5px;
}
.reportDataLi input { background: #fff;
border-top: 1px solid #CBCFD1;
border: 1px solid #D2D5D7;
border-radius: 3px;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02) inset,0 1px 0 rgba(255, 255, 255, 0.2);
outline: 0;
padding: 1px 4px 0px;
height: 19px;
font-family: 'Droid Sans',sans-serif;
font-size: 12px; margin-top: 4px;}
.reportDataLi input:focus { background: #FFFFEC;}
.reportDataLi:hover .reportActualData {
	/*display:none;*/
}

.reportDataLi:hover .reportEdit {
	display:block;
}
.reportDataLi {
	text-align: -webkit-match-parent;
	border-top: 1px solid #D2D5D7;
	 height:30px;
}
.reportDataLi:first-child { border-top:0;}
.reportDataLi.warn { background-color: #EFDEDE;}
.subSites {
	margin: 13.5px;
	border: 1px solid #D2D5D7;
	width:450px;
	/* height:400px; */
}
.reportDeleteIconDiv {
	background-position: 0 -657px;
	border: 1px solid #D8DCDF;
	width: 17px;
	height: 17px;
	margin-top:5px;
	margin-right: 5px;
	display:none;
}
.report_title_pdf{
	color: #525556;
font-size: 11px;
text-transform: uppercase;
padding: 10px 0;
font-weight: 700;
float: left;
margin-left: 16px;
}

.reportDataLi:hover .reportDeleteIconDiv {
	display:block;
}

.headerCnt{
font-size: 15px;
color: #525556;
padding: 10px 0;
font-weight: 700;
width:96%;
margin-left:4px;
clear: both;
}
.notesCnt{
	border-top:1px solid #D2D5D7;
	border-bottom:1px solid #D2D5D7;
	font-size: 15px;
	padding: 10px 0;
	margin-left: 16px;
	margin-top: 16px;
	margin-bottom:16px;
    width: 96%;
	float:left;
}
.pvtNote,.clientCnt{
	font-size: 12px;
	padding: 10px 0;
	line-height: 20px;
}
.footCnt{
	font-size: 12px;
	padding: 10px 0;
	margin-left:16px;
	margin-bottom:16px;
	width:96%;
	float:left;
	text-align: center;
}
.line_report{
	border-bottom: 1px solid #d7dbe2;
height: 17px;
width: 916px;
margin-left: 18px;
}
#creport_header{
line-height: 18px;
margin-left: 136px;
width: 786px;
}
.imageSpace{
	height: 136px;
    margin-top: 1px;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
}
.report_title{
	width: 685px;
padding: 1%;
border: 1px solid #b7bec0;
border-radius: 3px;
font-family:   arial;
color: #737987;
font-size: 12px;
margin: 9px;
font-family: 'Droid Sans',sans-serif;
}
.select_cont_report{
	padding: 13px 13px 9px 0;
	position: absolute; 
	margin-top: -25px; 
	margin-left: 110px;
}
.select_cont_report a{
margin-left: 2px;
margin-right: 2px;
text-decoration: none;
color: #f2583e;
margin-left: 10px;
}

.logo_cont { margin: 20px auto; padding-left: 16px;}

#imageUploaderContent .upload_cont{
	width: 330px;
}
#imageUploaderContent .qq-upload-drop-area{
	width: 165px;
}
/*.rep_sprite_report{
	background: url(../images/rep_sprite.gif) repeat-x;
}
.float-left{
	float: left;
}*/

.add_post_left_cont {
	float:left;
	width:717px;
	border-right: 1px solid #D2D5D7;
}
.add_post_left_cont .txt_editor { margin:10px; }
.add_post_left_cont .toolbar { }
input.post_title {
	width: 680px;
	margin: 10px 10px 0 10px;
	padding: 8px;
}
.bulk_publish_page_post textarea {
	border: 1px solid #B7BEC0;
	border-radius: 3px;
	margin: 10px;
	width: 686px;
	padding: 5px;
}
.txt_editor .uploadInsert {
	color: #666;
	text-decoration: none;
	padding: 5px 5px 5px 28px;
	background-position: -8px -208px;
	display: block;
	float: left;
	margin-top: 10px;
	height: 14px;
}
.txt_editor .uploadInsert:hover { text-decoration:underline; }
.txt_editor textarea {
	margin: 0;
	border-radius: 3px;
	width: 685px;
	font-family: Monaco, "Courier New", Courier, monospace;
	color: #666;
}
.add_post_right_cont {
	float:left;
	width:100px;
	width: 240px;
	border-left: 1px solid #D2D5D7;
	margin-left:-1px;
}
.add_post_right_cont input.full {
	margin: 10px;
	width: 209px;
	padding: 5px;
}
.bulk_publish_page_post .title_collapse {
	background-position: 0 -238px;
	border-top: 1px solid #D2D5D7;
	border-bottom: 1px solid #D2D5D7;
	padding: 8px;
	margin-bottom: -1px;
	/* cursor:move; */
}
.bulk_publish_page_post .title_collapse .collapse_arrow {
	float: left;
	/* background: url(../images/arrows.gif) -13px -46px no-repeat;
	padding-left: 15px; */
	font-weight:700;
	font-size:11px;
}
.bulk_publish_page_post .title_collapse.active  .collapse_arrow { background-position:-13px -12px;}
.bulk_publish_page_post ul.ui-sortable li.ui-sortable-helper {
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	border-left: 1px solid #D2D5D7;
	border-right: 1px solid #D2D5D7;
}
.bulk_publish_page_post ul.ui-sortable li.ui-sortable-placeholder {
	background-color:#ffffe5;
	border: 1px dashed #D2D5D7;
	border-radius:3px;
	margin:5px;
	visibility:visible !important;
	box-shadow:0 0px 3px rgba(0, 0, 0, 0.1) inset;
}
.bulk_publish_page_post .op_cont_outer.publish input.passVal { width: 120px; margin-left: 18px;}
.bulk_publish_page_post .op_cont_outer { background-color:#fff; }
.bulk_publish_page_post .op_cont_outer .op_cont {
	border-bottom: 1px solid #D2D5D7;
	margin-bottom:-1px;
}
.bulk_publish_page_post .op_cont_outer.collapsed .title_collapse .collapse_arrow { background-position: -13px -12px; }
.bulk_publish_page_post .op_cont_outer.collapsed .op_cont { display:none; }
.bulk_publish_page_post .op_cont_outer.publish table {
	border-bottom: 1px solid #D2D5D7;
	position:relative;
}
.bulk_publish_page_post .op_cont_outer.publish table td { padding:8px 5px; }
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish {
	position:absolute;
	top:3px;
	right:2px;
	background-position: 0 -397px;
	border:1px solid #c6c6c6;
	border-radius:2px;
	width: 25px;
	height: 25px;
	display:none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.bulk_publish_page_post .op_cont_outer.publish table td .current_value { padding-top:4px; }
.bulk_publish_page_post .op_cont_outer.publish table:hover td .edit_publish { display:block; }
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish a {
	background-position: -4px -1128px;
	width: 25px;
	height: 25px;
}
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish:active {
	background-position: 0 -432px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish:active a { background-position: -4px -1127px; }
.bulk_publish_page_post .op_cont_outer.publish .trash {
	color: #C30C0C;
	background-position: -4px -417px;
	display: block;
	width: 80px;
	padding: 4px 0 0 26px;
	height: 15px;
	margin: 10px 0 0 5px;
}
.bulk_publish_page_post .op_cont_outer.custom_table td { padding:5px; }
.bulk_publish_page_post .op_cont_outer table .label { font-size:11px; }
.bulk_publish_page_post .op_cont_outer.publish .schedule_post { position:relative; }
.bulk_publish_page_post .op_cont_outer.publish .schedule_post input {
	width:25px;
	text-align:center;
}
.error_report{
	border: 1px solid #bb7d7d!important;
background-color: #ecdada;
}
.reportOutline div.datepicker table {
box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.reportOutline .checkbox.active { background-color: #E0F5DE;}
.reportOutline textarea { font-family: 'Droid Sans',sans-serif; font-size: 12px; line-height: 20px;}

.reportOutline .time_select_btn {
	background-position: 0 -273px;
	font-size: 12px;
	line-height: 14px;
	height: 13px;
	float: left;
	padding: 5px 0;
	position:relative;
}
.reportOutline .time_select_btn a {
	background: url(../../../images/arrow_down.png) no-repeat 89% 50%;
	border: 1px solid #B7BBBE;
	color: #676C70;
	padding: 4px 20px 4px 5px;
	text-shadow: white 1px 1px 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	border-radius:3px;
}
.reportOutline .time_select_btn a:active { box-shadow: 0 1px 1px rgba(0, 0, 0, 0), 0px 2px 8px rgba(0, 0, 0, 0.1) inset; }
.reportOutline .time_select_btn a:hover {
	text-decoration:none;
}

.reportOutline .ul.btn_radio_slelect {
	margin: 0;
	margin-bottom: 10px;
	float: left;
}



.time_select_options {
	position:absolute;
	z-index:1;
	box-shadow:0 0px 6px rgba(0, 0, 0, 0.2);
	margin: 22px 0 0 15px;
	border:1px solid #b7bbbe;
	border-radius: 3px;
}
.time_select_options ul.time_select_options_am {
	background-color:#f9f9f9;
	border-radius: 3px 3px 0 0;
}
.time_select_options .time_select_options_am li, .time_select_options .time_select_options_pm li {
	float:left;
}
.time_select_options .time_select_options_am li a {
	float:left;
	font-size:11px;
	color:#676c70;
	text-decoration:none;
	padding:6px 10px;
}
.time_select_options .time_select_options_am li a:hover {
	text-decoration:none;
	background:#dfe2e3;
}
.time_select_options ul.time_select_options_pm {
	background-color:#8a9399;
}
.time_select_options .time_select_options_pm li a {
	float:left;
	font-size:11px;
	color:#fff;
	text-decoration:none;
	padding:6px 10px;
}
.time_select_options .time_select_options_pm li a:hover {
	text-decoration:none;
	background:#9da4a9;
}
.time_select_options .label {
	float:left;
	width:20px;
	padding: 6px;
}
.time_select_options .time_select_options_pm .label {
	color:#fff;
}
.date_select_cont, .day_select_cont {
	border:1px solid #b4b6b8;
	width: 188px;
}
.date_select_cont ul {
	border-top:1px solid #b4b6b8;
}
.date_select_cont ul:first-child {
	border-top:0;
}
.date_select_cont ul li, .day_select_cont ul li {
	float:left;
}
.date_select_cont ul li a, .day_select_cont ul li a {
	float:left;
	padding:6px 8px 5px 7px;
	width:11px;
	text-align:center;
	border-left:1px solid #b6b9bb;
	background-position:0 -467px;
	color:#676c70;
	text-decoration:none;
	font-size:11px;
	font-weight:700;
	cursor:default;
	box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.7) inset;
	cursor:pointer;
}
.date_select_cont ul li:first-child a, .day_select_cont ul li:first-child a {
	border-left:0;
}
.date_select_cont ul:nth-child(2n+2) li a {
background-position:0 -489px;
}
.date_select_cont ul li a.empty:hover {
	background-position:0 -467px;
}
.date_select_cont ul li a:hover, .day_select_cont ul li a:hover {
	background-position:0 -511px;
	box-shadow: 0 0 11px 1px rgba(255, 255, 255, 0.3) inset;
}
.date_select_cont ul li a.active {
	background-position:0 -555px;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2) inset;
	color:#fff;
}
.day_select_cont ul li a.active {
	background-position:0 -555px;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2) inset;
	color:#fff;
}
.day_select_cont {
	width: 258px;
	border-radius: 3px;
}
.day_select_cont ul li {
}
.day_select_cont ul li a {
	width: 27px;
	padding: 6px 5px 5px 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.day_select_cont ul li:first-child a {
	border-radius:2px 0 0 2px;
}
.day_select_cont ul li:last-child a {
	border-radius:0 2px 2px 0;
}
.textbox_report {
padding: 1%;
border: 1px solid #b7bec0;
border-radius: 3px;
font-family: arial;
color: #737987;
font-size: 12px;
margin: 9px;
font-family: 'Droid Sans',sans-serif;
}

.emailContent_report span{
	margin-left:4px;
}


.backup .row_backup_action .run_now {
	background-position: 0 0;
}
.backup .sites_bu, .backup .row_detailed .sites_bu {
	float:right;
	background-position:0 -34px;
	border-left: 0;
	padding: 12px 11px 0 34px;
	height: 22px;
	width: 23px;
	font-size: 11px;
	cursor:default;
}
.backup .time_bu.monthly {
	background-position:0 -136px;
}
.backup .time_bu.weekly {
	background-position:0 -102px;
}
.backup .time_bu.daily {
	background-position:0 -68px;
}
.backup .success_bu, .backup .row_detailed .success_bu {
	float:right !important;
}

/*.row_summary_report, .ind_row_cont .row_detailed .rh { cursor:pointer; }

.row_summary_report { }
.ind_row_cont.active .row_summary_report>div {
	border-left:1px solid #CCE5C9;
	float:left;
}
.ind_row_cont.active .row_summary_report div:first-child { border-left:0; }
.row_summary_report > div, .row_no_summary > div {
	border-left:1px solid #efefef;
	float:left;
}
.row_summary_report div:first-child { border-left:0; }
.row_summary_report.active {
	border-top:1px solid #cce5c9;
	border-bottom:1px solid #cce5c9;
	margin-bottom:-1px;
	background-color:#e0f5de;
}
.row_summary_report.active>div { border-left:1px solid #cce5c9; }*/
