@charset "UTF-8";
/* CSS Document */
#wordfence_content .row_detailed .rh > div,#wordfence_content  .row_summary > div {
	border-left: 0;
	}
#wordfence_content .row_arrow {
border-right: 1px solid #EFEFEF;
}
#wordfence_content .count_cont {
margin: 9px 0px 9px 9px;
border: 1px solid #C1C4C6 !important;
}

#wordfence_content .row_detailed .rd .row_updatee_ind .items_cont { width: 920px; }

#wordfence_content .row_no_detail .row_name  { float: left; width: 680px;}
#wordfence_content .row_no_detail:hover { background-color:#fff;}

#wordfence_content .row_detailed .rd .row_updatee_ind .item { float:left; width: 750px;}
#wordfence_content .row_no_detail .item_result { float:right; width: 133px; padding: 10px; }
#wordfence_content .row_no_detail .item_result.success { float:right; width: 113px; padding-left:30px; color: #069F14; background: url(../../../images/icon_success.png) no-repeat;}
#wordfence_content .row_no_detail .item_result.error { float:right; width: 145px; padding-left:30px; color: #C41111; background: url(../../../images/icon_failure.png) no-repeat;}

#wordfence_content .row_detailed .rd .row_updatee {
margin-left: 0;}

.icon_severity { background:url(../images/icon_sprite_WF.png) no-repeat; width:35px; height:35px; float:left;}
.icon_severity.warning { background-position:3px 3px;}
.icon_severity.error { background-position:-25px 3px;}
.website_cont{position:relative;}
.website_cont .tips {
	display: none;
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 3px;
	position: absolute;
	top: 3px;
	left: 3px;
	font-size: 12px;
	opacity: 0.8;
	width: 222px;
	height: 20px;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}
#wordfence_installation_bulk{
	text-transform: none;
	font-size: 12px;
	font-weight: 400;
}