/*
Theme Name: Automator Child
Theme URI: http://themes.fastlinemedia.com
Version: 1.0
Description: An example child theme for Automator that can be used as a starting point for custom development.
Author: FastLine Media
Author URI: http://themes.fastlinemedia.com
template: fl-automator
*/

/* Add your custom styles here... */ 

/* Primary Navigation */

#menu-primary-navigation-1 {
text-transform: uppercase;
}


/* Home Page */

.footer_headings {
font-size: 20px;
font-weight: bold;
}

.wpvl_auto_thumb_box_wrapper {
    padding: 0 15%;
}
@media screen and (max-width: 500px){
    .more-videos .fl-rich-text .vimeo-video, .more-videos .fl-rich-text .wpvl_auto_thumb_box_wrapper {
        display: none;
    }
    .more-videos .fl-module-video { display: block;}
}
@media screen and (min-width: 501px){
    .more-videos .fl-rich-text .vimeo-video, .more-videos .fl-rich-text .wpvl_auto_thumb_box_wrapper {
        display: block;
    }
    .more-videos .fl-module-video { display: none;}
}