@charset "utf-8";
/* CSS Document */

#bottom_toolbar .site_bar_btn.code_snippet {
	width: 127px;
	margin: 6px 8px 9px 0;
	height: 27px;
	border-radius: 3px;
}
#bottom_toolbar .site_bar_btn .btn_code_snippet {
	background-position: 0 -1024px;
	width: 81px;
	padding: 7px 10px 9px 35px;
	border: 1px solid #BBB;
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5) inset;
	cursor: pointer;
	height: 10px;
	border-radius: 3px;
}
#bottom_toolbar .site_bar_btn .btn_code_snippet:active {
	background-position: 0 -1023px;
	padding: 8px 10px 8px 35px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.run_code_saved_snippets .rows_cont .tr {
	background-color:#fff;
	border-bottom:1px solid #efefef;
	padding: 8px;
	cursor:pointer;
	position: relative;
}
.run_code_saved_snippets .empty_cont { padding:8px;}
.run_code_saved_snippets .rows_cont .tr.active:hover {
	background-color: #E0F5DE;
}
.run_code_saved_snippets .rows_cont .tr:nth-child(2n+2) {
background-color: #FDFDFD;
}
.run_code_saved_snippets .rows_cont .tr:hover {
	background-color:#ffffe5;
}
.run_code_saved_snippets .rows_cont .tr.active {
	background-color: #E0F5DE;
	border-top: 1px solid #C9E0C7;
	margin-top: -1px;
	border-bottom: 1px solid #C9E0C7;
}
.run_code_saved_snippets .rows_cont .tr .remove_bg {
	background-position: 0 -657px;
	border: 1px solid #D8DCDF;
	position: absolute;
	width: 15px;
	height: 15px;
	right: 4px;
	top: 5px;
	display: none;
}
.run_code_saved_snippets .rows_cont .tr:hover .remove_bg {
	display: block;
}
.run_code_saved_snippets .rows_cont .tr .del {
	background-position: -10px -554px;
	width: 17px;
	height: 17px;
}
.run_code_saved_snippets .rows_cont .tr.delWarn {
	background: #EFDEDE;
}
.run_code_saved_snippets .rows_cont .tr:hover .remove_bg:active {
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.run_code_saved_snippets .rows_cont .tr:hover .remove_bg:active .del {
	background-position: -10px -553px;
}
.run_code_saved_snippets .rows_cont .content {
	padding:0 !important;
}
textarea.run_code_terminal {
	background:#fff url(../../../images/text_area_dotted_bg.png) repeat;
	border:0;
	margin:0;
	padding:5px 10px;
	width: 610px;
	line-height: 21px;
	color: #666;
	height: 220px;
	font-family: Monaco, "Courier New", Courier, monospace;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: background-color 0.1s ease-in;
	-moz-transition: background-color 0.1s ease-in;
	-o-transition: background-color 0.1s ease-in;
	-ms-transition: background-color 0.1s ease-in;
	transition: background-color 0.1s ease-in;
}
textarea.run_code_terminal:focus {
	outline:0;
	background-color:#ffffe5;
}
.run_code_help_text {
	position: absolute;
	font-family: Monaco, "Courier New", Courier, monospace;
	color: #888;
	text-align: center;
	margin: -142px 0 0 0;
	width: 630px;
	line-height: 21px;
	font-size: 14px;
}
input.new_snippet_name {
	float: left;
	height: 17px;
	margin: 8px 0 8px 8px;
	border-radius: 3px 0 0 3px;
	padding: 1px 5px 5px 5px;
	margin-right: -1px;
	width: 226px;
}
.save_snippet {
	position:relative;
	background-position: 0 -143px;
	height: 15px;
	border: 1px solid #B7BBBE;
	margin-left: -1px;
	color: #6C7277;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	padding: 5px 11px 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
	cursor:pointer;
	border-radius: 0 3px 3px 0;
	margin: 8px 8px 8px 0;
}
.save_snippet:active {
	box-shadow: 0 1px 1px transparent, 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
	padding:6px 11px 2px;
}
.save_snippet_form {
	position:relative;
}
.save_snippet_form #duplicateSnippet {
	position: absolute;
	margin: -17px 0 0 8px;
	color: #A92A2A;
	background: #EFDEDE;
	padding: 3px 5px;
	border-radius: 3px;
	border: 1px solid #C58888;
}
.save_snippet.disabled {
	opacity:0.5;
}
.response .site_response_cont { border-bottom:1px solid #efefef;}
.response .site_name { padding:8px; font-weight:700;}
.response .site_response_cont .response { padding:8px 8px 8px 26px; line-height: 22px;}



