@charset "utf-8";
.ga_cont { background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #ebedef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ebedef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ebedef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfcfc 0%,#ebedef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfcfc 0%,#ebedef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfcfc 0%,#ebedef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebedef',GradientType=0 ); /* IE6-9 */
border:1px solid #d2d5d7; border-radius:5px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
width:150px; height:100px; float:left; margin:0 0 20px 32px; cursor:pointer; position:relative; color:#6e7584;
}
.ga_cont:active,.ga_cont.active { background: #cfd4d7; /* Old browsers */
background: -moz-linear-gradient(top,  #cfd4d7 0%, #dee2e4 35%, #dde1e3 79%, #e9ebec 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfd4d7), color-stop(35%,#dee2e4), color-stop(79%,#dde1e3), color-stop(100%,#e9ebec)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cfd4d7 0%,#dee2e4 35%,#dde1e3 79%,#e9ebec 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cfd4d7 0%,#dee2e4 35%,#dde1e3 79%,#e9ebec 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cfd4d7 0%,#dee2e4 35%,#dde1e3 79%,#e9ebec 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cfd4d7 0%,#dee2e4 35%,#dde1e3 79%,#e9ebec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd4d7', endColorstr='#e9ebec',GradientType=0 ); /* IE6-9 */
border:1px solid #b8bcbe; border-radius:5px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) inset, 0 1px 15px rgba(177, 208, 239, 0.6) inset;
}
.ga_cont .label { font-size:11px; font-weight:bold; text-align:center; padding-top:10px;}
.ga_cont .value { font-size:32px; font-weight:bold; text-align:center; padding-top:11px; text-shadow: 0 1px 0px rgba(255, 255, 255, 0.9);}
.ga_cont .change { position:absolute; bottom:0; color:#fff; font-weight:bold; text-align:center; padding:5px; border-radius:0 0 3px 3px; width: 142px; margin-bottom: -1px; margin-left: -1px;}
.ga_cont .change.good { background-color:#0bc00b;}
.ga_cont .change.bad { background-color:#c00b0b;}

.ga_cont:active .label, .ga_cont.active .label { padding-top:11px;}
.ga_cont:active .change, .ga_cont.active .change { bottom:-1px;}
.ga_cont:active .value, .ga_cont.active .value { text-shadow: 0 1px 0px rgba(255, 255, 255, 0.5);}