#bl_content {
}
#bl_content .row_detailed .checkbox,#bl_content .row_summary .checkbox {
	padding: 17px;
	vertical-align: middle;
}

input[type=text]:focus {
	outline: 0;
}
.bl_links {
	width: 330px;
	padding-left: 0px;
	display: inline-block;
	vertical-align: middle;
}
.bl_links .displayurl {
	width: 330px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.link_can_edits {
	display: inline-block;
}
.link_data {
	display: inline-block;
	float: right;
	position: relative;
}
.bl_linktext {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
}
.bl_linktext .display_linktext {
	width: 190px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.link_stats {
	display: inline-block;
	min-width: 70px;
	padding: 11px;
	text-align: right;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.link_stats.bl_status, .link_stats.bl_source {
	width: 108px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.link_actions {
	position: absolute;
	right: 0px;
	top: 0px;
}
.link_categories {
	display: none;
	float: left;
	height: 40px;
	line-height: 40px;
}
.link_categories span {
	color: red;
	cursor: pointer;
	padding-right: 10px;
	display: inline-block;
}
.link_categories span:hover {
	text-decoration: underline;
}
.bl_action {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.editurl, .edit_bl_linktext {
	display: none;
}
#bl_content .row_summary {
	display: inline-block;
}
.editurl input, .edit_bl_linktext input {
	width: 315px;
	margin: 0px;
	padding: 3px 5px;
	border: 1px solid #b7bec0;
	border-radius: 3px;
	color: #666;
	font-size: 12px;
	margin-top: 6px;
}
.link_type_wrap .editurl input {
	width: 335px;
}
.edit_bl_linktext input {
	width: 183px;
}
.link_type_wrap .edit_bl_linktext input {
	width: 124px;
}
.editlink_acts {
	display: none;
}
#bl_content .row_detailed .rh .row_name {
	width: auto !important;
}
.row_detailed .link_details {
	float: right !important;
	padding: 12px 11px 10px 11px;
	text-align: center;
	border-left: 0 !important;
}
.row_detailed .link_details_text {
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
}
#bl_content .row_detailed .row_updatee .checkbox {
	float: left;
	width: 35px;
	height: 35px;
	padding: 0;
}
.link_type_wrap {
	border-bottom: 1px solid #f1f1d7;
	position: relative;
}
.link_type {
	vertical-align: middle;
	display: inline-block;
	width: 60px;
	position: absolute;
	top: 10px;
	left: 10px;
	text-transform: capitalize;
	text-align: right;
}
.link_type_wrap .row_updatee {
	margin-left: 80px !important;
}
.link_type_wrap .row_updatee:last-child { margin-bottom:-1px;}
.link_type_wrap .bl_linktext {
	width: 140px;
}
.link_type_wrap .bl_linktext .display_linktext {
	width: 130px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.link_type_wrap .bl_links {
	width: 350px;
}
.link_type_wrap .bl_links .displayurl {
	width: 350px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.link_type span {
	padding: 1px 3px;
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
}
.link_type_wrap .broken {
	background: #ad3f3f;
}
.link_type_wrap .redirected {
	background: #74b3ce;
}
.link_type_wrap .dismissed {
	background: #ceb874;
}
.link_type_wrap .others {
	background: #49ad3f;
}
/*#bl_content .ind_row_cont .row_summary .row_name {
	width: 890px;
}*/
.link_can_edits .bl_linktext .display_linktext, .link_can_edits .bl_links .displayurl {
	padding: 3px 5px;
	margin-top: 9px;
}
#bl_content .row_detailed.active .rh { background-color: #E0F5DE;}
#bl_content .row_detailed .row_updatee .link_acts {
	height: 28px;
	border: 1px solid rgb(198, 198, 198);
	border-radius: 3px;
	margin: 2px;
	display: none;
}
#bl_content .row_detailed .row_updatee:hover .link_acts {
	display: block;
}
#bl_content .row_detailed .row_updatee .link_acts li {
	background-position: 0 -397px;
	border-left: 1px solid rgb(198, 198, 198);
	float: left;
	display: inline;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
#bl_content .row_detailed .row_updatee .link_acts li:first-child {
	border-left: 0;
	border-radius: 2px 0 0 2px;
}
#bl_content .row_detailed .row_updatee .link_acts li:last-child {
	border-radius: 0 2px 2px 0;
}
#bl_content .row_detailed .row_updatee .link_acts li a {
	background: url(../images/icon_sprite_brokenLC.png) no-repeat;
	width: 28px;
	height: 28px;
	display: block;
}
#bl_content .row_detailed .row_updatee .link_acts li a.unlink {
	background-position: -58px 0px;
}
#bl_content .row_detailed .row_updatee .link_acts li a.mark_not_broken {
	background-position: -29px 0px;
}
#bl_content .row_detailed .row_updatee .link_acts li a.dismiss {
	background-position: -87px 0px;
}
#bl_content .row_detailed .row_updatee .link_acts li a.undismiss {
	background-position: -141px -1px;
}
.link_actions .editlink_acts {
	background-color: #FFFFF3;
	margin-top: 1px;
}
#bl_content .row_detailed .row_updatee.active .link_actions .editlink_acts {
	background-color: #E0F5DE;
	margin-top: 1px;
}
.link_actions .editlink_acts a {
	padding: 10px;
}
.link_actions .editlink_acts a.save_edit {
	color: #707277;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	background-position: 0 -397px;
	border: 1px solid #C6C6C6;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 6px 11px;
}
.link_actions .editlink_acts a.save_edit:hover {
	text-decoration: none;
}
#bl_content .row_detailed .row_updatee { margin-top:0; cursor:default;}
#bl_content .row_detailed .row_updatee.active {border-top: 1px solid #CCE5C9;
border-bottom: 1px solid #CCE5C9;
margin-top: -1px;
background-color: #E0F5DE;
}
.website_cont .tips{
	display: none;
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 3px;
	position: absolute;
	top: 3px;
	left: 3px;
	font-size: 12px;
	opacity: 0.8;
	width: 222px;
	height: 20px;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}
#blc_installation_bulk{
	text-transform: none;
	font-size:12px;
	font-weight: 400;
}