.toggle_passed_rules_block{
	margin:4px 10px;
}
.show_screenshot{
	display:inline-block;
	padding:11px;
	background:#ededed;
	border-left:1px solid #dedede;
}

.analyse_score {
	margin-right: 15px;
	border: 0 !important;
	padding: 4px 7px 3px !important;
	color: #FFF;
}
.analyse_score.error {
background-color: #DD4B39 !important;
}
.analyse_score.warning {
background-color: #FDA100 !important;
}
.analyse_score.excellent {
background-color: #009A2D !important;
}

.ps_result_classification {
	position: relative;
	border-bottom: 1px solid #f1f1d7;
}
.ps_result_classification .row_updatee { padding:5px;}
.ps_result_classification .row_updatee:last-child { margin-bottom:-1px;}

.ps_result_classification_title{
	margin: 4px 0px;
	padding: 4px 0px;
	display: inline-block;
}
.ps_result{
	position:absolute;
	height:25px;
	width:25px;
	background:url(../images/icon_sprite_gPS.png);
}

.ps_result.shouldfix{
	background-position: 1px 3px;
}

.ps_result.considerfix{
	background-position: -24px 4px;
}

.ps_result.passed{
	background-position: -53px 3px;
	margin: 1px;
}

.localizedRuleName{
	margin: 3px 0px;
	padding: 3px 0px;
	line-height:22px;
}
.hide_details,.urlBlocks{
	display: none;
}

.toggle_details{
	margin: 4px;
	color:red;
	cursor:pointer;
}
.toggle_details > div { padding:2px;}
.toggle_details > div:hover { text-decoration:underline;}
.headerData{
	padding: 3px 0px;
	line-height: 20px;
}

.resource_list_cont{
	background: #fff;
	margin: 10px;
	margin-left: 0px;
	margin-top: 5px;
	border: 1px solid #cecece;
}

.resource_list_cont li {
	padding: 7px 10px;
	border-bottom: 1px solid #cecece;
}

.resource_list_cont li:last-child{
	border-bottom: none;
}
.gps-custom-qtip-class{
	opacity:1 !important;
}