/* bulk_publish_post */
.add_post_left_cont {
	float:left;
	width:717px;
	border-right: 1px solid #D2D5D7;
}
.add_post_left_cont .txt_editor { margin:10px; }
.add_post_left_cont .toolbar { }
input.post_title {
	width: 680px;
	margin: 10px 10px 0 10px;
	padding: 8px;
}
.bulk_publish_page_post textarea {
	border: 1px solid #B7BEC0;
	border-radius: 3px;
	margin: 10px;
	width: 686px;
	padding: 5px;
}
.txt_editor .uploadInsert {
	color: #666;
	text-decoration: none;
	padding: 5px 5px 5px 28px;
	background-position: -8px -208px;
	display: block;
	float: left;
	margin-top: 10px;
	height: 14px;
}
.txt_editor .uploadInsert:hover { text-decoration:underline; }
.txt_editor textarea {
	margin: 0;
	border-radius: 3px;
	width: 685px;
	font-family: Monaco, "Courier New", Courier, monospace;
	color: #666;
}
.add_post_right_cont {
	float:left;
	width:100px;
	width: 240px;
	border-left: 1px solid #D2D5D7;
	margin-left:-1px;
}
.add_post_right_cont input.full {
	margin: 10px;
	width: 209px;
	padding: 5px;
}
.bulk_publish_page_post .title_collapse {
	background-position: 0 -238px;
	border-top: 1px solid #D2D5D7;
	border-bottom: 1px solid #D2D5D7;
	padding: 8px;
	margin-bottom: -1px;
	/* cursor:move; */
}
.bulk_publish_page_post .title_collapse .collapse_arrow {
	float: left;
	/* background: url(../images/arrows.gif) -13px -46px no-repeat;
	padding-left: 15px; */
	font-weight:700;
	font-size:11px;
}
.bulk_publish_page_post .title_collapse.active  .collapse_arrow { background-position:-13px -12px;}
.bulk_publish_page_post ul.ui-sortable li.ui-sortable-helper {
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	border-left: 1px solid #D2D5D7;
	border-right: 1px solid #D2D5D7;
}
.bulk_publish_page_post ul.ui-sortable li.ui-sortable-placeholder {
	background-color:#ffffe5;
	border: 1px dashed #D2D5D7;
	border-radius:3px;
	margin:5px;
	visibility:visible !important;
	box-shadow:0 0px 3px rgba(0, 0, 0, 0.1) inset;
}
.bulk_publish_page_post .op_cont_outer.publish input.passVal { width: 120px; margin-left: 18px;}
.bulk_publish_page_post .op_cont_outer { background-color:#fff; }
.bulk_publish_page_post .op_cont_outer .op_cont {
	border-bottom: 1px solid #D2D5D7;
	margin-bottom:-1px;
}
.bulk_publish_page_post .op_cont_outer.collapsed .title_collapse .collapse_arrow { background-position: -13px -12px; }
.bulk_publish_page_post .op_cont_outer.collapsed .op_cont { display:none; }
.bulk_publish_page_post .op_cont_outer.publish table {
	border-bottom: 1px solid #D2D5D7;
	position:relative;
}
.bulk_publish_page_post .op_cont_outer.publish table td { padding:8px 5px; }
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish {
	position:absolute;
	top:3px;
	right:2px;
	background-position: 0 -397px;
	border:1px solid #c6c6c6;
	border-radius:2px;
	width: 25px;
	height: 25px;
	display:none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.bulk_publish_page_post .op_cont_outer.publish table td .current_value { padding-top:4px; }
.bulk_publish_page_post .op_cont_outer.publish table:hover td .edit_publish { display:block; }
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish a {
	background-position: -4px -1128px;
	width: 25px;
	height: 25px;
}
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish:active {
	background-position: 0 -432px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
.bulk_publish_page_post .op_cont_outer.publish table td .edit_publish:active a { background-position: -4px -1127px; }
.bulk_publish_page_post .op_cont_outer.publish .trash {
	color: #C30C0C;
	background-position: -4px -417px;
	display: block;
	width: 80px;
	padding: 4px 0 0 26px;
	height: 15px;
	margin: 10px 0 0 5px;
}
.bulk_publish_page_post .op_cont_outer.custom_table td { padding:5px; }
.bulk_publish_page_post .op_cont_outer table .label { font-size:11px; }
.bulk_publish_page_post .op_cont_outer.publish .schedule_post { position:relative; }
.bulk_publish_page_post .op_cont_outer.publish .schedule_post input {
	width:25px;
	text-align:center;
}
.mc_dropdown.custom_profile {
	width: 695px;
	overflow: hidden;
}
.mc_dropdown.custom_profile .th input {
	width: 150px;
	padding: 2px 5px;
}
.mc_dropdown_cont ul {
	border:none;
	position: static;
}
.mc_dropdown.custom_profile ul li a { width:128px; overflow: hidden; }
/* posts & pages */
.icon_sprite_WPposts {
	background:url(../images/icon_sprite_WPpost.png) no-repeat;
	height:35px;
	width:auto;
}
.posts .row_detailed .row_ind_post_cont { border-bottom: 1px solid #F1F1D7; }
.posts .row_detailed .row_ind_post {
	float: left;
	width: 900px;
	padding: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont {
	width: 920px;
	position:relative;
	margin-left: 35px;
	border-top: 1px solid #F1F1D7;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_same_status_cont {
	float:left;
	border-bottom: 1px solid #F1F1D7;
	margin-bottom:-1px;
	width: 849px;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .ind_post_same_status {
	float:left;
	border-bottom: 1px solid #F1F1D7;
	margin-bottom:-1px;
	position:relative;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .ind_post_same_status.active {background-color: #E0F5DE;}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .checkbox {
	float:left;
	width:35px;
	height:35px;
	padding:0;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .row_post {
	float:left;
	width: 803px;
	padding: 5px 5px 11px 5px;
	line-height:22px;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .comment_who {
	width:auto !important;
	float:left;
	background-position: 0 -35px;
	margin-left:35px;
	padding: 11px 0 6px 35px;
	height: 17px;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .comment_when {
	width:auto !important;
	float:left;
	background-position: 0 -341px;
	margin-left:15px;
	padding: 11px 0 6px 35px;
	height: 17px;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_categ {
	width:auto !important;
	float:left;
	background-position: 0 0;
	margin-left:15px;
	padding: 11px 0 6px 35px;
	height: 17px;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_tag {
	width:auto !important;
	float:left;
	background-position: 0 -69px;
	margin-left:15px;
	padding: 11px 0 6px 35px;
	height: 17px;
}
.posts .row_detailed .row_ind_post_page_cont .post_page_ops {
	position:absolute;
	bottom:5px;
	right:5px;
	height:28px;
	border:1px solid #c6c6c6;
	border-radius:3px;
	display:none;
}
.post_status {
	float:left;
	width:65px;
	margin-right: 5px;
}
.post_status span {
	color:#fff;
	float:right;
	padding:3px;
	border-radius:2px;
	margin-top: 8px;
	text-transform:capitalize;
}
.post_status span.published { background-color:#49ad3f; }
.post_status span.pending { background-color:#df9965; }
.post_status span.private { background-color:#000; }
.post_status span.scheduled { background-color:#74b3ce; }
.post_status span.draft { background-color:#a6a6a6; }
.post_status span.trash { background-color:#df6565; }
.posts .row_detailed .row_ind_post_page_cont .post_same_status_cont .ind_post_same_status:hover .post_page_ops { display:block; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li {
	background-position: 0 -397px;
	border-left:1px solid #c6c6c6;
	float:left;
	display:inline;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:active {
	background-position: 0 -432px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:first-child {
	border-left:0;
	border-radius: 2px 0 0 2px;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:last-child { border-radius: 0 2px 2px 0; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li a {
	display:block;
	width:28px;
	height:28px;
}
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li a.op_open { background-position:-3px -139px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li a.op_edit { background-position:-3px -173px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li a.op_trash { background-position:-3px -411px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li a.op_restore { background-position:-2px -105px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li a.op_del_forever { background-position:-3px -615px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:active a.op_open { background-position:-3px -138px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:active a.op_edit { background-position:-3px -172px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:active a.op_trash { background-position:-3px -410px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:active a.op_restore { background-position:-2px -104px; }
.posts .row_detailed .row_ind_post_cont .row_ind_post_page_cont .post_page_ops li:active a.op_del_forever { background-position:-3px -614px; }
.posts .row_action_btn {
	background-position: 0 -397px;
	width: 34px;
	height: 34px;
	border-left: 1px solid #EFEFEF;
}
.posts .row_action_btn:active {
	background-position: 0 -432px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
.posts .row_action_btn .open_pop_out { background-position: 0 -1089px; }
.posts .row_action_btn:active .open_pop_out { background-position: 0 -1088px; }
.posts .count_cont { }
table.bulk_post_form_table { float:right; }
table.bulk_post_form_table td { padding:5px; }
.posts .row_arrow, .posts .count_cont, .posts .row_name, .posts .row_detailed .row_name { border-left: 0; }
.posts .row_arrow { border-right: 1px solid #EFEFEF; }
.count_cont { border: 1px solid #C1C4C6 !important; }
.posts .count_cont { margin:9px 0px 9px 9px; }
.dialog_cont .insert_image  { width: 502px; }
.insert_image .align_options .radio_btn {margin: 5px 10px;}
.icon_sprite_WPlinks { background:url(../images/icon_sprite_WPlinks.png) no-repeat; height:35px; width:auto;}
.row_ind_link_cont { position: relative; border-top: 1px solid #F1F1D7; margin-top: -1px; }
.row_ind_link_cont.active { background-color: #E0F5DE;}
.links .row_ind_link_cont .checkbox {
	float:left;
	width:35px;
	height:35px;
	padding:0;
}
.links .row_ind_link_cont .row_link { float:left; padding: 5px 5px 11px 5px; line-height: 22px; height: 20px;}
.links .row_ind_link_cont .row_link a { display:inline-block; background-position: 0 -142px; padding-left: 35px; margin-left: 15px;}

.links .row_ind_link_cont .link_categ, .links .row_ind_link_cont .link_visible, .links .row_ind_link_cont .link_rating, .links .row_ind_link_cont .link_relationship {
	width:auto !important;
	float:left;
	margin-left:15px;
	padding: 11px 0 6px 35px;
	height: 17px;
}
.links .row_ind_link_cont .link_categ { margin-left:35px;}
.links .row_ind_link_cont .link_visible{background-position: 0 -35px;}
.links .row_ind_link_cont .link_rating {background-position: 0 -70px;}
.links .row_ind_link_cont .link_relationship {background-position: 0 -105px;}

.links .row_ind_link_cont .link_ops {
	position:absolute;
	bottom:5px;
	right:5px;
	height:28px;
	border:1px solid #c6c6c6;
	border-radius:3px;
	display:none;
}
.links .row_ind_link_cont:hover .link_ops { display:block; }
.links .row_ind_link_cont:hover .link_ops li {
	background-position: 0 -397px;
	border-left:1px solid #c6c6c6;
	float:left;
	display:inline;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.links .row_ind_link_cont:hover .link_ops li:active {
	background-position: 0 -432px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
.links .row_ind_link_cont:hover .link_ops li:first-child {
	border-left:0;
	border-radius: 2px 0 0 2px;
}
.links .row_ind_link_cont:hover .link_ops li:last-child { border-radius: 0 2px 2px 0; }
.links .row_ind_link_cont .link_ops li a {
	display:block;
	width:28px;
	height:28px;
}
.links .row_ind_link_cont .link_ops li a.op_edit { background-position:-3px -173px; }
.links .row_ind_link_cont .link_ops li a.op_del_forever { background-position:-3px -615px; }
.links .row_ind_link_cont .link_ops li:active a.op_edit { background-position:-3px -172px; }
.links .row_ind_link_cont .link_ops li:active a.op_del_forever { background-position:-3px -614px; }
.btn_radio_slelect.link_target .tip { background-color: black;
color: white;
opacity: .8;
position: absolute;
width: 190px;
border-radius: 3px;
padding: 5px 7px;
margin: 30px 0 0 -77px;
display: none;
z-index: 1; line-height: 14px;}
.btn_radio_slelect.link_target li { position:relative;}
.btn_radio_slelect.link_target li:hover .tip { display:block;}

.btn_radio_slelect.link_target .tip::before {
content: '';
position: absolute;
margin: -8px 0 0 90px;
height: 0;
width: 0;
border-bottom: 5px solid black;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
}
.bulk_publish_page_post .reset_date {
width: 22px;
height: 22px;
background-position: 0 -189px;
margin: 8px 8px 10px 0;
border: 1px solid #B7BBBE;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
display: block;
float: left;
cursor: pointer;
border-radius: 2px;
}
.bulk_publish_page_post .reset_date:active {
background-position: 0 -167px;
box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}
.bulk_publish_page_post .reset_date:hover { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.7) inset; }
.bulk_publish_page_post .reset_date span {
display: block;
background-position: -6px -448px;
width: 22px;
height: 22px;
}

.bulk_publish_page_post .reset_date:active span {background-position: -6px -447px;}