/*
	Theme Name: The 411 Pro Theme
	Theme URI: http://my.studiopress.com/themes/the-411/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 1.0.1

	Tags: black, white, one-column, two-columns, responsive-layout, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, premise-landing-page

	Template: genesis
	Template Version: 2.0

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php 
*/


/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- Avatar
		- Genesis
		- Search Form
		- Titles
		- WordPress
	- Plugins
		- Genesis eNews Extended
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
	- Content Area
		- Welcome Message
		- Entries
		- Entry Meta
		- Pagination
		- Comments
	- Footer Widgets
	- Site Footer
	- Media Queries
		- Retina Display
		- Max-width: 1139px
		- Max-width: 1023px
		- Max-width: 767px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.3 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.pagination:before,
.site-container:before,
.site-extras:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.pagination:after,
.site-container:after,
.site-extras:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.625;
	position: relative;
}

a,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

::selection {
	background-color: #000;
	color: #fff;
}

a {
	color: #e5554e;
	text-decoration: none;
}

a:hover {
	color: #000;
}

a.more-link {
	background-color: #000;
	clear: both;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 30px;
	padding: 12px;
	text-align: center;
	text-transform: uppercase;
}

a.more-link:hover {
	background-color: #e5554e;
}

a.more-link,
a.more-link:hover {
	border: none;
	color: #fff;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

b,
strong {
	font-weight: 400;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3,
h4 {
	font-size: 24px;
}

h5,
h6 {
	font-size: 18px;
}


/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}


/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus,
.footer-widgets input {
	border: 1px solid #000;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #000;
	opacity: 1;
	font-weight: 300;
}

::-webkit-input-placeholder {
	color: #000;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #e5554e;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	background-color: #d0493b;
	color: #fff;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-container {
	float: left;
	margin-left: 10%;
	max-width: 800px;
	width: 50%;
}

.site-inner {
	clear: both;
	margin-top: 100px;
}

.the-411-landing .site-inner {
	margin-top: 40px;
}

/* Column Widths and Positions
--------------------------------------------- */

.content {
	float: left;
	width: 740px;
}

.full-width-content .content {
	width: 100%;
}


/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.author-box .avatar {
	height: 70px;
	width: 70px;
}

.entry-comments .avatar {
	height: 48px;
	width: 48px;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* Genesis
--------------------------------------------- */

.archive-description,
.author-box,
.breadcrumb {
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
	padding: 7% 8%;
}

.breadcrumb {
	padding: 4% 8%;
}

.author-box-title {
	color: #000;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
	width: 100%;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.search-results .archive-title {
	margin-bottom: 0;
}

.entry-title {
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 10px;
}

.page .entry-title {
	margin-bottom: 20px;
}

.entry-title a {
	color: #000;
}

.entry-title a:hover {
	color: #e5554e;
}

.widget-title {
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.footer-widgets .widget-title {
	color: #fff;
}

/* WordPress
--------------------------------------------- */

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 12px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 12px 24px;
}

.wp-caption-text {
	font-weight: 400;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.gallery-caption {
}

.sticky {
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	margin-bottom: 30px;
	word-wrap: break-word;
}

.widget li {
	border-bottom: 1px solid #ddd;
	list-style-type: none;
	margin-bottom: 8px;
	padding-bottom: 8px;
	text-align: left;
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget ul ol > li {
	list-style-position: outside;
	text-indent: 0;
}

.widget li li {
	border: none;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget ol > li:last-child,
.widget ul > li:last-child {
	border-width: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.widget:last-child {
	margin: 0;
}


/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	color: #fff;
}

.enews-widget input {
	border: none;
	margin-right: -4px;
	padding: 16px 24px 15px;
	width: 60%;
}

.content .enews-widget input:focus {
	border: none;
}

.enews-widget input[type="submit"] {
	background-color: #e5554e;
	color: #fff;
	margin: 0;
	padding: 17px 24px 15px;
	width: auto;
}

.enews-widget input:hover[type="submit"] {
	background-color: #d0493b;
}

.enews form + p {
	margin-top: 24px;
}

/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	padding: 16px;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #000;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	left: 10%;
	max-width: 800px;
	min-height: 60px;
	position: fixed;
	top: 0;
	width: 50%;
	z-index: 999;
}

.admin-bar .site-header {
	top: 32px;
}

.site-header .wrap {
	overflow: hidden;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 20px;
}

.header-image .title-area {
	margin: 0 5px;
	padding: 0;
	width: 200px;
}

.site-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}

.site-title a {
	font-weight: 300;
}

.site-title a,
.site-title a:hover {
	color: #fff;
}

.header-image .site-title > a {
	background-position: center !important;
	float: left;
	min-height: 60px;
	width: 200px;
}

.site-title {
	margin-bottom: 0;
}

.header-image .site-title,
.site-description {
	display: block;
	text-indent: -9999px;
}

.site-description {
	height: 0;
	margin-bottom: 0;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1;
	padding-right: 15px;
	width: 100%;
}

.genesis-nav-menu,
.genesis-nav-menu a,
.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #fff;
}

.genesis-nav-menu .menu-item {
	border: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.genesis-nav-menu a {
	display: block;
	padding: 25px 10px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	background-color: #e5554e;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 130px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #000;
	font-size: 14px;
	letter-spacing: 0;
	padding: 15px;
	position: relative;
	width: 150px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -44px 0 0 150px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}


/* Responsive Menu
--------------------------------------------- */

#responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: 15px;
}

#responsive-menu-icon::before {
	color: #fff;
	content: "\f333";
	font: normal 24px/1 'dashicons';
	margin: 0 auto;
}


/*
Social Icons
---------------------------------------------------------------------------------------------------- */

.social-icons {
	max-width: 25%;
	position: fixed;
	right: 20px;
	top: 20px;
}

.social-icons .simple-social-icons ul li {
	float: none;
	margin: 10px;
}

.social-icons .simple-social-icons ul li a,
.social-icons .simple-social-icons ul li a:hover {
	padding: 15px;
}

.social-icons .simple-social-icons ul.aligncenter li {
	display: block;
}


/*
Click Here
---------------------------------------------------------------------------------------------------- */

.click-here {
	bottom: 20px;
	max-width: 25%;
	position: fixed;
	right: 30px;
}

.click-here a,
.click-here .entry-title a {
	background-color: #e5554e;
	color: #fff;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.click-here .featured-content a.alignleft,
.click-here .featured-content a.alignnone,
.click-here .featured-content a.alignright{
	background: none;
	padding: 0;
}

.click-here a:hover {
	background-color: #d0493b;
}

.click-here p:last-child {
	margin-bottom: 0;
}

.click-here ul.children {
	margin: 0;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Welcome Message
--------------------------------------------- */

.welcome-message {
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
	overflow: hidden;
	padding: 8%;
	position: relative;
	width: 100%;
}

/* Entries
--------------------------------------------- */

.entry {
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
	overflow: hidden;
	padding: 8%;
	position: relative;
	width: 100%;
}

.after-entry .entry {
	color: #000
}

.welcome-message .entry {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	padding: 0;
}

.entry-content ol,
.entry-content p,
.entry-content ul {
	margin-bottom: 26px;
}

.archive .format-standard .entry-content p:last-child,
.home .format-standard .entry-content p:last-child,
.welcome-message p:last-child {
	margin-bottom: 0;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul  > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #000;
	color: #ddd;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.entry-footer .entry-meta::before,
.entry-header .entry-meta::after {
	border-bottom: 1px solid #000;
	content: "";
	display: block;
	width: 25%;
}

.entry-header .entry-meta::after {
	margin-bottom: 40px;
	padding-bottom: 40px;
}

.entry-footer .entry-meta::before {
	margin-bottom: 40px;
	padding-top: 16px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link a {
	background-color: #e5554e;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
	padding: 12px 16px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
}

.entry-comments-link a:hover {
	background-color: #d0493b;
}

/* Post Formats
--------------------------------------------- */

.format-quote {
	background-color: #e5554e;
	font-size: 20px;
}

.format-quote a {
	border-bottom: 1px dotted #fff;
	color: #fff;
}

.format-quote a:hover {
	border-bottom: none;
}

.format-quote p.source {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.format-quote blockquote,
.format-quote blockquote::before,
.format-quote p,
.format-quote p.source {
	color: #fff;
}

.format-quote blockquote {
	margin: 0;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	background-color: #000;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	color: #fff;
	margin-bottom: 40px;
	padding: 8%;
	text-align: center;
}

.after-entry .widgettitle {
	color: #fff;
	font-size: 20px;
}

.after-entry p:last-child {
	margin-bottom: 0;
}

.after-entry ul > li {
	list-style-type: none;
}

.after-entry li a {
	color: #999;
}

/* Pagination
--------------------------------------------- */

.pagination {
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	margin: 40px 0;
	overflow: hidden;
	padding: 20px;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #000;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 8px 12px;
	text-transform: uppercase;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #e5554e;
}

.entry .pagination {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	margin: 0;
	padding: 0;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.comment-respond,
.entry-comments,
.entry-pings {
	padding: 7% 8%;
}

.comment-list .comment-respond {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	padding: 0;
}

p.comment-meta {
	margin-bottom: 20px;
}

.comment-respond,
.entry-comments,
.entry-comments .comment,
.entry-comments .comment-reply,
.entry-pings,
.entry-pings li {
	margin-bottom: 40px;
}

.comment-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.entry-comments .comment {
	border-bottom: 1px solid #000;
}

.entry-comments .comment-content {
	clear: both;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author,
.entry-pings li:last-child {
	margin: 0;
}

.entry-comments .comment {
	clear: both;
}

.entry-comments .children .comment {
	border: none;
}

.comment-respond label {
	display: block;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list ul.children {
	margin-left: 40px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"],
.comment-respond textarea {
	font-family: 'Roboto Slab', serif;
}

.subscribe-to-comments {
	margin-top: 40px;
}

.form-allowed-tags {
	display: none;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #000;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	color: #fff;
	margin-bottom: 40px;
	padding: 7% 8%;
}

.footer-widgets a {
	color: #fff;
	font-weight: 400;
}

.footer-widgets a:hover {
	color: #e5554e;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2 {
	width: 45%;
}

.footer-widgets-1 {
	float: left;
}

.footer-widgets-2 {
	float: right;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #000;
	-webkit-box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 10px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
	padding: 5%;
	text-align: center;
}

.site-footer a,
.site-footer p {
	color: #fff;
}

.site-footer a:hover {
	color: #e5554e;
}

.site-footer p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1140px) {

	.site-container,
	.site-header {
		width: 60%;
	}
	
}

@media only screen and (max-width: 1023px) {

	body {
		position: static;
	}

	.site-container,
	.site-header {
		width: 720px;
	}

	.site-container {
		float: none;
		margin: 0 auto;
	}

	.site-header {
		position: static;
	}

	.site-extras,
	.site-inner {
		margin-top: 40px;
	}

	.click-here,
	.social-icons {
		bottom: auto;
		max-width: 49%;
		position: static;
	}

	.click-here {
		float: right;
	}

	.social-icons {
		float: left;
	}

	.simple-social-icons ul li {
		display: inline-block !important;
		margin-bottom: 0 !important;
	}

}

@media only screen and (max-width: 768px) {

	.site-container {
		padding: 0 5%;
	}

	.title-area {
		padding-bottom: 0;
	}

	.header-image .title-area {
		padding-bottom: 10px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.header-image .site-title > a,
	.header-image .title-area,
	.site-container,
	.site-header,
	.site-header .widget-area,
	.title-area {
		width: 100%
	}

	.site-header,
	.site-header .widget-area,
	.title-area {
		text-align: center;
	}

	.site-title {
		margin-bottom: 10px;
	}

	.entry-comments-link,
	.responsive-menu {
		display: none;
	}

	#responsive-menu-icon {
		display: block;
	}

	.entry-title {
		font-size: 30px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.footer-widgets .footer-widgets-1 .widget:last-child {
		margin-bottom: 40px;
	}

	.click-here,
	.social-icons {
		float: none;
		max-width: 100%;
	}

}

@media only screen and (max-width: 568px) {

	.site-inner {
		margin-top: 20px;
	}

	.author-box,
	.entry,
	.entry-comments,
	.entry-comments .comment,
	.entry-comments .comment-reply,
	.site-footer,
	.welcome-message {
		margin-bottom: 20px;
	}

}