@charset "utf-8";
/* CSS Document */

.clone_existing {}
.steps_container .th_sub .th_sub_nav { margin-left: 390px; }
.clone_existing .th_sub ul { margin-left: 100px;}
.clone_existing .th_sub ul li { width:160px;}
.clone_existing .th_sub ul li.line { width:150px; }
.clone_existing .th_sub ul li a { width:120px}

.backup_list { margin: 15px 0;}
.backup_list li a { display:block; background:url(../images/rep_sprite_install_clone.gif) repeat-x 0 0; border: 1px solid #C9CDD0; margin-bottom: -1px; padding: 3px; position:relative;}
.backup_list li:first-child a { border-top-left-radius: 5px; border-top-right-radius: 5px;}
.backup_list li:last-child a { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.backup_list.now li a { border-radius:5px; }
.backup_list li a:hover { background-position:0 -28px; box-shadow: 0 0 5px rgba(255, 255, 255, 1) inset;}
.backup_list li a:active, .backup_list li a.active { background-position:0 -56px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) inset; padding: 4px 3px 2px;}
.backup_list li a span { float:left; color: #737987;}
.backup_list li a span.bu_files_db { background-position: -10px -176px; padding: 5px 0 0 22px;height: 16px;  width: 60px; font-size: 12px; margin-right:10px;} 
.backup_list li a span.bu_name{ height: 16px;  width: 210px; font-size: 12px; margin-right:7px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding: 4px 0 0 7px; } 
.backup_list li a span.bu_time { background-position:-10px -347px; padding: 5px 0 0 22px;height: 16px;  width: 138px; font-size: 12px;} 
.backup_list li a span.check { width:10px; height:10px; background-position:-12px -488px; position:absolute; margin:5px 0 0 -26px; display:none;}
.backup_list li a:hover span.check, .backup_list li a:active span.check, .backup_list li a.active span.check { display:block;}
.backup_list li a:active span.check, .backup_list li a.active span.check { margin-top:4px;}
.th_sub_nav a {}
.clone_existing.backup_file .th_sub ul { margin-left: 245px;}
.btn_backup_now { background:#fefefe url(../images/rep_sprite_install_clone.gif) repeat-x 0 4px; border:1px solid #c9cdd0; border-radius:5px; float: left; margin: 30px 80px 10px;}
.btn_backup_now a { background:url(../../../images/backup_sprite.png) no-repeat 0 -3px; font-size:11px; padding:10px 10px 10px 34px; display:block; font-weight:700; text-transform:uppercase; color:#737987; text-decoration:none; box-shadow: 0 2px 2px 
rgba(0, 0, 0, 0.1);  border-radius:5px;} 
.btn_backup_now.disabled { border: 1px solid #dde0e2; background:#f8f8f8;}
.btn_backup_now.disabled a {box-shadow: 0 0px 0px rgba(0, 0, 0, 0); opacity: 0.5;}
.btn_backup_now.disabled:hover, .btn_backup_now.disabled a:hover { cursor:default; box-shadow:0 0 0 rgba(0,0,0,0);}
.btn_backup_now.disabled a:active { padding:10px 10px 10px 34px;  background-position:0 -3px;}
.btn_backup_now a:hover { box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 0px 10px rgba(255,255,255, 1) inset;}
.btn_backup_now a.pressed, .btn_backup_now a:active { box-shadow: 0 0px 0px transparent, 0 2px 10px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.05) inset; padding:11px 10px 9px 34px; background-position:0 -2px;}
.btn_backup_now_loading { margin: 0px 93px; background: url(../../../images/loading_w_grey.gif) no-repeat 0 2px; padding: 5px 23px; clear:both;}
.btn_backup_now_done { padding: 5px 0px; clear:both; text-align:center; color: #069F14; line-height: 18px;}
.btn_backup_now_done .success_icon { background: url(../../../images/icon_success.png) no-repeat -8px -6px; height: 20px; width: 20px; display: inline-block; margin-bottom: -4px; margin-right: 5px;}
.btn_backup_now_error { text-align:center; color: #A92A2A; line-height: 18px;}
.btn_backup_now_error .fail_icon { background: url(../../../images/icon_failure.png) no-repeat -8px -6px; height: 20px; width: 20px; display: inline-block; margin-bottom: -4px; margin-right: 5px;}
.steps_container.clone_existing .th_sub .th_sub_nav { margin-left: 390px;}
.backup_empty_cont { background: url(../images/backup_empty_arrow.png) no-repeat bottom center; width: 172px; height: 133px; margin: auto; text-align: center; padding-bottom: 50px; line-height: 20px; }

.test_conn_cont { width:155px;}
.test_conn { background: url(../images/icon_test_conn.png) no-repeat 0 -5px; color: #6C7277; padding: 6px 0 6px 35px; margin: 5px;}
.test_conn.testing { background:url(../images/icon_test_conn_testing.gif) no-repeat 0 -5px; color: #ADB4BA;}
.test_conn:hover { text-decoration:underline; cursor:pointer;} 
.test_conn.success { background-position:0 -40px;}
.test_conn.error { background-position:0 -75px;}
.test_conn.testing:hover { text-decoration:none; cursor:default;}
.conn_test_error_cont { color: #8A1010; background-image: url(../../../images/notif_e_bg.png); width:200px; border-radius: 5px; padding: 5px; position:absolute; right:10px; bottom:10px; line-height: 18px; }
.conn_test_error_cont_arrow { height: 0; width: 0; border-top: 5px solid #d5acac; border-left: 6px solid transparent; border-right: 6px solid transparent; margin: 5px 0 0 63px; position: absolute;}
.conn_test_error_cont .e_close { position:absolute;	background:url(../../../images/icon_close_k.png); width:16px; height:16px;	right:-5px;	top:-5px; cursor:pointer; }
.select2Container{float: right;margin: 10px}
.updateProfile_IC {background-position: 3px -991px;width: 85px;padding: 7px 0 0 31px;height: 15px;margin: 5px 10px 0 0; }
.save_new_profile { height: 35px;}
.save_new_profile input { width:150px; margin: 5px 0 0 5px; padding: 5px 3px 4px; border-radius:3px 0 0 3px;  border-right:0;}
.save_new_profile input.error { border: 1px solid #BB7D7D; background-color: #ECDADA; border-right: 0; }
.save_new_profile .btn_new_profile { background-position: 0 -193px; border: 1px solid #B7BBBE; color: #6C7277;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(255, 255, 255, 0.5) inset; cursor: default;  border-radius:0 3px 3px 0; margin:5px; margin-left:0; padding: 5px 11px 3px; height:15px; cursor:pointer;}
.save_new_profile .btn_new_profile:active { background-position: 0 -166px; padding: 6px 11px 2px; box-shadow: 0 1px 0px rgba(255, 255, 255, 1), 1px 1px 5px rgba(0, 0, 0, 0.05) inset; }