/*
	Theme Name: AgentPress Child Theme
	Theme URI: http://www.studiopress.com/themes/agentpress/
	Description: AgentPress is a two or three column child theme created for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 2.1
	
	Tags: black, blue, custom-background, custom-header, custom-menu, featured-images, fixed-width, gray, green, left-sidebar, one-column, orange, red, right-sidebar, sticky-post, tan, theme-options, threaded-comments, three-columns, translation-ready, two-columns, white
	
	Template: genesis
	Template Version: 1.8

	License: GNU General Public License v2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/* Table of Contents

* Import Fonts
* Defaults
* Hyperlinks
* Body
* Wrap
* Header
* Image Header - Partial Width
* Image Header - Full Width
* Navigation Constants
* Primary Navigation
* Primary Navigation Extras
* Secondary Navigation
* Inner
* Top Search
* Featured Top
* Welcome
* Properties
* Communities
* Featured Bottom
* Breadcrumb
* Taxonomy Description
* Content-Sidebar Wrap
* Content
* Property Listings
* Featured Listings
* dsIDXpress - Results
* Column Classes
* Headlines
* Unordered / Ordered Lists
* Post Info
* Post Meta
* Author Box
* Archive Page
* Post Icons
* Images
* Post Navigation
* Primary / Secondary Sidebars
* Dropdowns
* Featured Page / Post
* User Profile
* Buttons
* Search Form
* eNews & Updates Widget
* Calendar Widget
* Footer Widgets
* Footer
* Disclaimer
* Comments
* Gravity Forms
* AgentPress Gray
* AgentPress Green
* AgentPress Red
* AgentPress Tan
* AgentPress Remax

*/


/* Import Fonts
------------------------------------------------------------ */

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Oswald);


/* Defaults
------------------------------------------------------------ */

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
input,
select,
textarea {
	color: #333;
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

select,
textarea,
.sticky,
.taxonomy-description {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

li,
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}


/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #4b8308;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}


/* Body
------------------------------------------------------------ */

body {
	background: url(images/bg.png);
}


/* Wrap
------------------------------------------------------------ */

#wrap {
	margin: 0 auto;
	overflow: hidden;
}


/* Header
------------------------------------------------------------ */

#header {
	color: #fff;
	margin: 0 auto;
	min-height: 125px;
	text-shadow: 1px 1px #000;
	width: 960px;
}

#title-area {
	float: left;
	overflow: hidden;
	padding: 20px 0 0 0;
	width: 700px;
}
	
#title {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	line-height: 1.25;
	margin: 0;
	text-transform: uppercase;
}

.header-full-width #description,
.header-full-width #title {
	text-align: center;
}

#title a,
#title a:hover {
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#description {
	color: #ccc;
}

#header .widget-area {
	float: right;
	padding: 25px 0 0;
	text-align: center;
	width: 250px;
}

#header .widget-area p {
	color: #fff;
	padding: 0 0 5px;
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image #title-area,
.header-image #title,
.header-image #title a {
	display: block;
	float: left;
	height: 125px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 400px;
}

.header-image #description {
	display: block;
	overflow: hidden;
}


/* Image Header - Full Width
------------------------------------------------------------ */

.header-full-width #title-area,
.header-full-width #title,
.header-full-width #title a {
	width: 920px;
}


/* Navigation Constants
------------------------------------------------------------ */

.menu li:hover ul ul,
.menu li.sfHover ul ul {
	left: -9999px;
}

li:hover,
li.sfHover { 
	position: static;
}


/* Primary Navigation
------------------------------------------------------------ */

#nav {
	-moz-box-shadow: 0 1px 1px #333; 
	-webkit-box-shadow: 0 1px 1px #333;
	background-color: #273549;
	box-shadow: 0 1px 1px #333;
	clear: both;
	color: #fff;
	font-size: 13px;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#nav ul {
	float: left;
	padding: 0 0 0 10px;
	width: 950px;
}

#nav ul ul {
	padding: 0;
}

#nav li {
	float: left;
	list-style-type: none;
}

#nav li a {
	color: #fff;
	display: block;
	padding: 9px 15px;
	position: relative;
	text-decoration: none;
}

#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a {
	background-color: #fff;
	color: #273549;
}

#nav li a .sf-sub-indicator {
	display: block;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
}

#nav li li a,
#nav li li a:link,
#nav li li a:visited {
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-width: 0;
	color: #273549;
	font-size: 12px;
	padding: 7px 10px 5px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#nav li li a:hover,
#nav li li a:active {
	background-color: #273549;
	color: #fff !important;
}

#nav li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#nav li ul a { 
	width: 140px;
}

#nav li ul ul {
	margin: -32px 0 0 159px;
}

#nav li:hover>ul,
#nav li.sfHover ul {
	left: auto;
}


/* Primary Navigation Extras
------------------------------------------------------------ */

#nav li.right {
	float: right;
	margin: 0 10px 0 0;
	padding: 9px 15px;
}

#nav li.right a {
	background: none;
	border: none;
	color: #fff;
	display: inline;
	text-decoration: none;
}

#nav li.right a:hover {
	color: #4b8308;
	text-decoration: none;
}

#nav li.rss a {
	background: url(images/rss.png) no-repeat center left;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

#nav li.twitter a {
	background: url(images/twitter-nav.png) no-repeat center left;
	padding: 0 0 0 20px;
}


/* Secondary Navigation
------------------------------------------------------------ */

#subnav {
	-moz-box-shadow: 0 1px 1px #333; 
	-webkit-box-shadow: 0 1px 1px #333;
	background: url(images/gradient.png);
	border-top: 1px solid #d5d5d5;
	box-shadow: 0 1px 1px #333;
	margin: 0 0 5px;
	overflow: hidden;
}

#subnav .wrap {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
	text-transform: uppercase;
}

#subnav ul {
	float: left;
	width: 100%;
}

#subnav li {
	float: left;
	list-style-type: none;
}

#subnav li a {
	background: none;
	color: #273549;
	display: block;
	font-size: 13px;
	padding: 12px 15px 9px;
	position: relative;
	text-decoration: none;
}

#subnav li a:hover,
#subnav li a:active,
#subnav .current_page_item a,
#subnav .current-cat a,
#subnav .current-menu-item a {
	color: #4b8308;
}

#subnav li a .sf-sub-indicator {
	display: block;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
	background-color: #ddd;
	border: 1px solid #fff;
	border-top-width: 0;
	color: #273549;
	font-size: 12px;
	padding: 7px 10px 5px;
	position: relative;
	text-transform: none;
	width: 148px;
}

#subnav li li a:hover,
#subnav li li a:active {
	background-color: #273549;
	color: #fff !important;
}

#subnav li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 170px;
	z-index: 9999;
}

#subnav li ul a { 
	width: 150px;
}

#subnav li ul ul {
	margin: -32px 0 0 169px;
}

#subnav li:hover>ul,
#subnav li.sfHover ul {
	left: auto;
}


/* Inner
------------------------------------------------------------ */

#inner {
	-moz-box-shadow: 0 1px 3px #000; 
	-webkit-box-shadow: 0 1px 3px #000;
	background-color: #fff;
	box-shadow: 0 1px 3px #000;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	width: 920px;
}

.page-template-home-demo-php.full-width-content #inner,
.archive.full-width-content #inner,
.home.full-width-content #inner {
	padding: 0;
	width: 960px;
}

.agentpress-landing #inner {
	margin: 20px auto;
	width: 700px;
}


/* Top Search
------------------------------------------------------------ */

.top-search {
	-moz-box-shadow: 0 1px 3px #000; 
	-webkit-box-shadow: 0 1px 3px #000;
	background-color: #ddd;
	box-shadow: 0 1px 3px #000;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 20px 10px;
	width: 920px;
}


/* Featured Top
------------------------------------------------------------ */

.featured-top {
	-moz-box-shadow: 0 1px 3px #666; 
	-webkit-box-shadow: 0 1px 3px #666;
	background-color: #ddd;
	box-shadow: 0 1px 3px #666;
	clear: both;
	margin: 0 auto 20px;
	overflow: hidden;
	padding: 20px;
	width: 920px;
}

.slider {
	float: left;
	width: 610px;
}

#genesis-slider {
	border: 10px solid #fff !important;
	padding: 0 !important;
}

.property-quick-search {
	border: 10px solid #fff;
	float: right;
	min-height: 260px;
	overflow: hidden;
	padding: 20px;
	width: 240px;
}


/* Welcome
------------------------------------------------------------ */

.welcome {
	background-color: #ddd;
	clear: both;
	margin: 0 auto 25px;
	padding: 5px;
	text-align: center;
	width: 920px;
}

.welcome .wrap {
	border: 3px solid #fff;
	overflow: hidden;
	padding: 0;
}

.welcome,
.welcome p {
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
}


/* Properties
------------------------------------------------------------ */

.properties {
	border-bottom: 3px double #ddd;
	clear: both;
	margin: 0 auto 25px;
	overflow: hidden;
	padding: 0 0 10px;
	width: 930px;
}

.properties p {
	padding: 0 0 15px;
}


/* Communities
------------------------------------------------------------ */

.communities {
	border-bottom: 3px double #ddd;
	clear: both;
	margin: 0 auto 25px;
	overflow: hidden;
	padding: 0 0 15px;
	width: 930px;
}

.communities p {
	font-size: 13px;
	padding: 0;
}


/* Featured Bottom
------------------------------------------------------------ */

.featured-bottom {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 15px;
	width: 930px;
}

.featured-bottom p {
	font-size: 13px;
}

.featured-bottom-left {
	float: left;
	width: 600px;
}

.featured-bottom-right {
	float: right;
	width: 300px;
}

.featured-bottom-right .widget {
	background-color: #f5f5f5;
	margin: 0 0 15px;
	padding: 15px 20px 20px;
}

.testimonials {
	background: url(images/testimonials.png) no-repeat top left;
	font-size: 12px;
	font-style: italic;
	margin: 0 0 15px;
	padding: 10px 0 5px 35px;
}


/* Breadcrumb
------------------------------------------------------------ */

.breadcrumb {
	background: #f5f5f5;
	color: #333;
	font-size: 12px;
	margin: 0 auto 30px;
	padding: 5px 10px;
}

.breadcrumb a,
.breadcrumb a:visited {
	text-decoration: none;
}

.breadcrumb a:hover {
	text-decoration: underline;
}


/* Taxonomy Description
------------------------------------------------------------ */

.taxonomy-description {
	border: none;
	margin: 0 0 30px;
	padding: 10px;
}


/* Content-Sidebar Wrap
------------------------------------------------------------ */

#content-sidebar-wrap {
	float: left;
	width: 750px;
}

.content-sidebar #content-sidebar-wrap,
.full-width-content #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap {
	width: 920px;
}

.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap {
	float: right;
}

.archive.full-width-content #content-sidebar-wrap,
.home.full-width-content #content-sidebar-wrap,
.page-template-home-demo-php.full-width-content #content-sidebar-wrap {
	width: 960px;
}

.agentpress-landing #content-sidebar-wrap {
	width: 700px;
}


/* Content
------------------------------------------------------------ */

#content {
	float: left;
	padding: 10px;
	width: 430px;
}

.content-sidebar #content,
.sidebar-content #content {
	width: 600px;
}

.sidebar-content #content,
.sidebar-sidebar-content #content {
	float: right;
}

.full-width-content #content {
	padding: 0;
	width: 920px;
}

.agentpress-landing #content {
	width: 700px;
}

.archive.full-width-content #content {
	padding: 15px;
	width: 930px;
}

.home.full-width-content #content,
.page-template-home-demo-php.full-width-content #content {
	width: 960px;
}

blockquote {
	background: url(images/blockquote.png) no-repeat top left;
	margin: 0 0 20px;
	padding: 25px 30px 5px 70px;
}

blockquote p {
	color: #777;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 14px;
	font-style: italic;
}

.post {
	border-bottom: 3px double #ddd;
	margin: 0 0 25px;
	overflow: hidden;
	padding: 0 0 25px;
}

.single .post {
	background: none;
	border: none;
	margin: 0 0 10px;
	padding: 0;
}

.entry-content p {
	margin: 0 0 25px
}

p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.gray-box {
	background-color: #f5f5f5;
	overflow: hidden;
	margin: 0 0 20px;
	padding: 15px 20px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.clear {
	clear: both;
}

.clear-line {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin: 0 0 15px;
}


/* Property Listings
------------------------------------------------------------ */

.property-details {
	background-color: #f5f5f5;
	overflow: hidden;
	margin: 0 0 30px;
	padding: 15px 20px 0;
}

.property-details-col1,
.property-details-col2 {
	float: left;
	margin: 0;
	padding: 0 0 15px;
	width: 50%;
}

iframe {
	margin: 0 0 30px;
}


/* Featured Listings
------------------------------------------------------------ */

.listing-wrap {
	float: left;
	font-size: 12px;
	margin: 0 10px 15px;
	position: relative;
	width: 290px;
}

.listing-price {
	background: #273549;
	clear: both;
	color: #fff;
	font-size: 16px;
	left: 5px;
	padding: 10px;
	position: absolute;
	top: 5px;
}

.listing-text {
	background: #4b8308;
	clear: both;
	color: #fff;
	font-size: 12px;
	padding: 7px 10px;
	position: absolute;
	right: 5px;
	top: 5px;
}

.listing-address,
.listing-city-state-zip {
	display: block;
	font-size: 14px;
	line-height: 1;
	margin: 0 0 5px;
	padding: 0;
	text-align: center;
}

.listing-city-state-zip {
	margin: 0 0 10px;
}

.listing-wrap .more-link {
	background-color: #4d637f;
	font-size: 12px;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 7px 0;
	text-align: center;
	width: 90px;
}

.listing-wrap .more-link:hover {
	background-color: #273549;
	text-decoration: none;
}


/* dsIDXpress - Results
------------------------------------------------------------ */

.dsidx-sorting-control select {
	width: auto;
}

#dsidx-map-control {
	margin: 10px 0;
}

#dsidx-listings {
	overflow: auto;
}

#dsidx-listings li {
	display: none;
}

#dsidx-listings li.dsidx-listing {
	display: list-item;
	float: left !important;
	height: 335px !important;
	text-align: center !important;
	width: 50% !important;
}

#dsidx-listings .dsidx-media .dsidx-photo {
	border-style: none !important;
	position: relative !important;
}

#dsidx-listings .dsidx-media .dsidx-photo img {
	border: 1px solid #ddd !important;
	margin: 0 0 10px !important;
	padding: 4px !important;
}

#dsidx-listings .dsidx-primary-data,
#dsidx-listings .dsidx-secondary-data {
	padding-left: 0 !important;
}

#dsidx-listings .dsidx-primary-data {
	background-color: transparent !important;
	font-weight: normal !important;
}

#dsidx-listings .dsidx-price {
	background: #333;
	clear: both;
	color: #FFF !important;
	font-size: 16px;
	left: 50%;
	margin-left: -125px;
	padding: 10px;
	position: absolute;
	top: 5px;
}

.dsidx-paging-control {
	border-top: 1px solid #999;
	clear: both;
	margin-top: 30px !important;
	padding: 10px 0 !important;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin: 0 0 20px;
	padding-left: 3%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	padding-left: 0;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Oswald', sans-serif;
	line-height: 1.25;
	margin: 0 0 15px;
}

h1,
h2,
h2 a,
h2 a:visited {
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.taxonomy-description h1 {
	margin: 0 0 5px;
}

.communities h2,
.communities h2 a,
.communities h2 a:visited,
.featured-bottom h2,
.featured-bottom h2 a,
.featured-bottom h2 a:visited,
.featured-top h2,
.featured-top h2 a,
.featured-top h2 a:visited,
.properties h2,
.properties h2 a,
.properties h2 a:visited {
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	margin: 0 0 5px;
	text-align: center;
	text-transform: uppercase;
}

.communities h2,
.communities h2 a,
.communities h2 a:visited{
	font-size: 12px;
}

.featured-bottom h2,
.featured-bottom h2 a,
.featured-bottom h2 a:visited,
.featured-top h2,
.featured-top h2 a,
.featured-top h2 a:visited {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-align: left;
	text-transform: none;
}

h2 a:hover {
	color: #4b8308;
	text-decoration: none;
}

h3 {
	font-size: 24px;
}

h4,
h4 a,
h4 a:hover,
h4 a:visited {
	color: #333;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.agentpress-landing h4 {
	text-transform: none;
}

.widget-area h4 {
	font-size: 14px;
	margin: 0 0 5px;
}

.property-quick-search h4,
.top-search h4 {
	background: url(images/headline-search.png) no-repeat left;
	line-height: 2;
	padding: 0 0 0 30px;
}

#footer-widgets .widget-area h4 {
	color: #ccc;
	margin: 0 0 10px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}


/* Unordered / Ordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 20px;
}

.entry-content ol {
	margin: 0;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ul ul,
.entry-content ol ol {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	font-size: 11px;
	margin: -5px 0 15px;
	text-transform: uppercase;
}

.featured-bottom .post-info,
.featured-top .post-info {
	margin: 0;
}

.featured-bottom p.post-info,
.featured-top p.post-info {
	margin: 0 0 5px;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	background-color: #f5f5f5;
	clear: both;
	font-size: 11px;
	padding: 7px 10px 5px;
	text-transform: uppercase;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	background-color: #f5f5f5;
	margin: 0 0 40px;
	padding: 10px;
	overflow: hidden;
}

.author-box p {
	font-size: 13px;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0 0;
	width: 48%;
}


/* Post Icons
------------------------------------------------------------ */

.categories {
	background: url(images/icon-categories.png) no-repeat top left;
	padding: 2px 0 2px 22px;
}
	
.post-comments {
	background: url(images/icon-comments.png) no-repeat top left;
	margin: 0 0 0 10px;
	padding: 2px 0 2px 22px;
}

.tags {
	background: url(images/icon-tags.png) no-repeat top left;
	margin: 0 0 0 10px;
	padding: 2px 0 2px 20px;
}
	
.time {
	background: url(images/icon-time.png) no-repeat top left;
	padding: 2px 0 2px 21px;
}


/* Images
------------------------------------------------------------ */

img {
	max-width: 100%;
}

.communities a img,
.featured-bottom a img,
.listing-wrap a img {
	border: 1px solid #ddd;
	margin: 0 0 5px;
	padding: 4px;
}

.featured-bottom a img {
	margin: 0 10px 10px 0;
}

.listing-wrap a img {
	margin: 0 0 10px;
}

.communities a:hover img,
.featured-bottom a:hover img,
.listing-wrap a:hover img {
	border: 1px solid #999;
}

.agent,
.avatar,
.post-image {	
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 4px;
}

.author-box .avatar {
	background-color: #fff;
	float: left;
	height: 80px;
	margin: 0 10px 0 0;
	width: 80px;
}

.user-profile .avatar {
	height: 70px;
	margin: 0 10px 0 0;
	width: 70px;
}

.post-image {
	margin: 0 10px 10px 0;
}

.comment-list li .avatar { 
	background-color: #fff;
	float: left;
	height: 30px;
	margin: 0 5px 0 0;
	padding: 4px;
	width: 30px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	display: inline;
	margin: 0 0 10px;
}

img.alignleft,
.wp-caption.alignleft {
	display: inline;
	margin: 0 15px 10px 0;
}

img.alignright,
.wp-caption.alignright {
	display: inline;
	margin: 0 0 10px 15px;
}

.wp-caption {
	background-color: #f5f5f5;
	padding: 10px;
	text-align: center;
}

.entry-content p.wp-caption-text {
	font-size: 12px;
	margin: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}

.social-profiles a img {
	margin: 0 5px;
}

.gallery-caption {
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	overflow: hidden;
	padding: 5px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	border: 1px solid #ddd;
	padding: 5px 8px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #f5f5f5;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	background: #f5f5f5;
	display: inline;
	float: right;
	font-size: 13px;
	padding: 15px 15px 5px;
	width: 250px;
}

#sidebar-alt {
	background: #f5f5f5;
	float: left;
	padding: 15px 15px 5px;
	width: 120px;
}

.sidebar p {
	font-size: 13px;
}

.sidebar-bottom-left {
	display: inline;
	float: left;
	width: 110px;
}
	
.sidebar-bottom-right {
	display: inline;
	float: right;
	width: 125px;
}

.sidebar-content #sidebar,
.sidebar-sidebar-content #sidebar {
	float: left;
}

.content-sidebar-sidebar #sidebar-alt {
	float: right;
}

.sidebar .widget {
	border-bottom: 3px double #ddd;
	margin: 0 0 15px;
	padding: 0 0 20px;
}

.widget-area ol,
.widget-area ul {
	margin: 0 0 0 20px;
}

.widget-area ul li {
	list-style-type: square;
 	word-wrap: break-word;
}

.widget-area ol li {
	list-style-type: decimal;
}

.widget-area input {
	background-color: #fff;
}


/* Dropdowns
------------------------------------------------------------ */

select,
.widget_archive select,
#cat {
	background-color: #fff;
	color: #333;
	display: inline;
	font-size: 12px;
	height: 26px;
	margin: 0 0 10px;
	padding: 3px;
	width: 100%;
}

.entry-content select {
	width: 200px;
}

.top-search select {
	float: left;
	margin: 0 10px 10px 0;
	width: 140px;
}


/* Featured Page / Post
------------------------------------------------------------ */

.featuredpage,
.featuredpost {
	overflow: hidden;
}

.featuredpage .page,
.featuredpost .post {
	border: none;
	margin: 0 ;
	overflow: hidden;
	padding: 0;
}

.communities .featuredpage,
.communities .featuredpost {
	float: left;
	margin: 0 10px;
	width: 135px;
}

.properties .featuredpage,
.properties .featuredpost {
	clear: both;
}

.featured-bottom .featuredpage .page,
.featured-bottom .featuredpost .post,
.featured-top .featuredpage .page,
.featured-top .featuredpost .post {
	border-bottom: 1px solid #ddd;
	margin: 0 0 15px;
	padding: 0 0 10px;
}


/* User Profile
------------------------------------------------------------ */

.user-profile {
	overflow: hidden;
}


/* Buttons
------------------------------------------------------------ */

div.gform_footer input.button,
input[type="button"],
input[type="submit"] {
	background-color: #4d637f;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 7px 5px;
	text-decoration: none;
}

#nav .searchsubmit {
	padding: 3px 7px;
}

div.gform_footer input.button:hover,
input:hover[type="button"],
input:hover[type="submit"] {
	background-color: #273549;
	border: none
	color: #fff;
	text-decoration: none;
}


/* Search Form
------------------------------------------------------------ */

#header .searchform {
	float: right;
	padding: 40px 0 0;
}

#nav .searchform {
	float: right;
	margin: 1px 0 0;
}

.s {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #666;
	font-size: 12px;
	margin: 5px -7px 0 0;
	padding: 5px 7px 4px;
	width: 175px;
}

#nav .s {
	padding: 2px 0 2px 5px;
}


/* eNews and Update Widget
------------------------------------------------------------ */

.enews #subbox {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #666;
	font-size: 12px;
	margin: 10px -7px 0 0;
	padding: 5px 7px 4px;
	width: 170px;
}


/* Calendar Widget
------------------------------------------------------------ */

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	font-size: 12px;
	font-style: italic;
	padding: 2px 5px 0 0;
	text-align: right;
}

#wp-calendar thead {
	background-color: #f5f5f5;
	font-weight: bold;
	margin: 10px 0 0;
}

#wp-calendar td {
	background-color: #f5f5f5;
	padding: 2px;
	text-align: center;
}


/* Footer Widgets
------------------------------------------------------------ */
 
#footer-widgets {
	-moz-box-shadow: 0 1px 3px #000; 
	-webkit-box-shadow: 0 1px 3px #000;
	background-color: #273549;
	box-shadow: 0 1px 3px #000;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#footer-widgets .wrap {
	color: #fff;
	font-size: 12px;
	padding: 20px 20px 0;
}
 
#footer-widgets .widget {
	background: none;
	border: none;
	padding: 0 0 10px;
}

#footer-widgets p {
	color: #fff;
	font-size: 12px;
	padding: 0 0 5px;
}

#footer-widgets a,
#footer-widgets a:visited {
	color: #fff;
	text-decoration: none;
}

#footer-widgets a:hover {
	color: #fff;
	text-decoration: underline;
}
 
#footer-widgets ul {
	list-style-type: none;
	margin: 0;
}
 
#footer-widgets ul li {
	list-style-type: none;
	margin: 0 0 10px;
}

#footer-widgets #wp-calendar thead,
#footer-widgets #wp-calendar td {
	background: none;
}

.footer-widgets-1 {
	float: left;
	padding: 0 20px 0 0;
	width: 215px;
}

.footer-widgets-2 {
	float: left;
	padding: 0 20px 0 0;
	width: 215px;
}
 
.footer-widgets-3 {
	float: left;
	width: 215px;
}
 
.footer-widgets-4 {
	float: right;
	width: 215px;
}


/* Footer
------------------------------------------------------------ */

#footer {
	color: #ccc;
	font-size: 12px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0;
	width: 960px;
	text-transform: uppercase;
}

#footer p {
	color: inherit;
	font-size: inherit;
}

#footer a,
#footer a:visited {
	color: #ccc;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
	text-decoration: none;
}

#footer .gototop {
	float: left;
	width: 250px;
}

#footer .creds {
	float: right;
	text-align: right;
	width: 700px;
}


/* Disclaimer
------------------------------------------------------------ */

.disclaimer {
	-moz-box-shadow: 0 1px 1px #333; 
	-webkit-box-shadow: 0 1px 1px #333;
	background: url(images/gradient.png);
	border-top: 1px solid #d5d5d5;
	box-shadow: 0 1px 1px #333;
	clear: both;
	font-size: 12px;
	height: 42px;
	overflow: hidden;
	text-align: center;
}

.disclaimer .wrap {
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 0;
	width: 960px;
}

.disclaimer p {
	font-size: 12px;
	text-align: center;
}


/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 30px;
	overflow: hidden;
}

#comments {
	font-size: 13px;
}

#author,
#comment,
#email,
#url {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	font-size: 12px;
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	margin: 0;
	padding: 10px;
}

.comment-list li,
.ping-list li {
	font-weight: bold;
	list-style: none;
	margin: 10px 0 0;
	padding: 10px;
}

.comment-list li ul li {
	list-style-type: none;
}

.comment-list p,
.ping-list p {
	font-size: 13px;
	font-weight: normal;
	margin: 10px 5px 10px 0;
	padding: 0;
	text-transform: none;
}

.comment-list ul.children {
	margin-top: 20px;
}

.comment-list ul.children li.comment {
	background: #fff;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
	font-weight: bold;
}

.commentmetadata {
	font-weight:normal;
}

.comment-author { 
	background: #ddd;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 10px 0;
}

.comment-meta { 
	background: #ddd;
	font-size: 12px;
	padding: 0 10px 8px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
	padding: 0;
}

.bypostauthor {
}

.thread-alt,
.thread-even {
	background: #f5f5f5;
}

.alt,
.depth-1,
.even {
	border: 1px solid #ddd;
}


/* Gravity Forms
------------------------------------------------------------ */

#content .gform_wrapper {
	background-color: #f5f5f5;
	overflow: hidden;
	margin: 0 0 20px;
	padding: 15px 20px 20px;
}

div.gform_wrapper input,
div.gform_wrapper select,
div.gform_wrapper textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #555 !important;
	font-size: 13px !important;
	padding: 4px 5px !important;
}

div.gform_footer input.button {
	color: #fff;
	padding: 4px 8px !important;
}

div.gform_wrapper .ginput_complex label {
	font-size: 12px;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0 0 10px;
}

div.gform_wrapper .gform_footer {
	border: none;
	margin: 0;
	padding: 0;
}


/* AgentPress Gray
------------------------------------------------------------ */

body.agentpress-gray {
	background: url(images/gray/bg.png);
}

.agentpress-gray h2 a,
.agentpress-gray h2 a:visited {
	color: #333;
}

.agentpress-gray a,
.agentpress-gray a:visited,
.agentpress-gray h2 a:hover,
.agentpress-gray #header ul.menu li a:hover,
.agentpress-gray #header ul.menu li a:active,
.agentpress-gray #header ul.menu .current_page_item a,
.agentpress-gray #header ul.menu .current-cat a,
.agentpress-gray #header ul.menu .current-menu-item a,
.agentpress-gray #header ul.menu li li a:hover,
.agentpress-gray #header ul.menu li li a:active,
.agentpress-gray #nav li.right a:hover,
.agentpress-gray #subnav li a:hover,
.agentpress-gray #subnav li a:active,
.agentpress-gray #subnav .current_page_item a,
.agentpress-gray #subnav .current-cat a,
.agentpress-gray #subnav .current-menu-item a {
	color: #cf1900;
}

.agentpress-gray div.gform_footer input.button:hover,
.agentpress-gray input:hover[type="button"],
.agentpress-gray input:hover[type="submit"],
.agentpress-gray .listing-price,
.agentpress-gray .listing-wrap .more-link:hover,
.agentpress-gray #footer-widgets,
.agentpress-gray #nav,
.agentpress-gray #nav li li a:hover,
.agentpress-gray #nav li li a:active,
.agentpress-gray #subnav li li a:hover,
.agentpress-gray #subnav li li a:active {
	background-color: #333;
}

.agentpress-gray #nav li a:hover,
.agentpress-gray #nav li a:active,
.agentpress-gray #nav .current_page_item a,
.agentpress-gray #nav .current-cat a,
.agentpress-gray #nav .current-menu-item a,
.agentpress-gray #nav li li a,
.agentpress-gray #nav li li a:link,
.agentpress-gray #nav li li a:visited,
.agentpress-gray #subnav li a,
.agentpress-gray #subnav li li a,
.agentpress-gray #subnav li li a:link,
.agentpress-gray #subnav li li a:visited {
	color: #000;
}

.agentpress-gray .listing-text {
	background-color: #cf1900;
}

.agentpress-gray .listing-wrap .more-link,
.agentpress-gray div.gform_footer input.button,
.agentpress-gray input[type="button"],
.agentpress-gray input[type="submit"] {
	background-color: #666;
	color: #fff;
}


/* AgentPress Green
------------------------------------------------------------ */

body.agentpress-green {
	background: url(images/green/bg.png);
}

.agentpress-green h2 a,
.agentpress-green h2 a:visited {
	color: #333;
}

.agentpress-green a,
.agentpress-green a:visited,
.agentpress-green h2 a:hover,
.agentpress-green #header ul.menu li a:hover,
.agentpress-green #header ul.menu li a:active,
.agentpress-green #header ul.menu .current_page_item a,
.agentpress-green #header ul.menu .current-cat a,
.agentpress-green #header ul.menu .current-menu-item a,
.agentpress-green #header ul.menu li li a:hover,
.agentpress-green #header ul.menu li li a:active,
.agentpress-green #nav li.right a:hover,
.agentpress-green #subnav li a:hover,
.agentpress-green #subnav li a:active,
.agentpress-green #subnav .current_page_item a,
.agentpress-green #subnav .current-cat a,
.agentpress-green #subnav .current-menu-item a {
	color: #cd7728;
}

.agentpress-green div.gform_footer input.button:hover,
.agentpress-green input:hover[type="button"],
.agentpress-green input:hover[type="submit"],
.agentpress-green .listing-price,
.agentpress-green .listing-wrap .more-link:hover,
.agentpress-green #footer-widgets,
.agentpress-green #nav,
.agentpress-green #nav li li a:hover,
.agentpress-green #nav li li a:active,
.agentpress-green #subnav li li a:hover,
.agentpress-green #subnav li li a:active {
	background-color: #354927;
}

.agentpress-green #nav li a:hover,
.agentpress-green #nav li a:active,
.agentpress-green #nav .current_page_item a,
.agentpress-green #nav .current-cat a,
.agentpress-green #nav .current-menu-item a,
.agentpress-green #nav li li a,
.agentpress-green #nav li li a:link,
.agentpress-green #nav li li a:visited,
.agentpress-green #subnav li a,
.agentpress-green #subnav li li a,
.agentpress-green #subnav li li a:link,
.agentpress-green #subnav li li a:visited {
	color: #354927;
}

.agentpress-green .listing-text {
	background-color: #cd7728;
}

.agentpress-green .listing-wrap .more-link,
.agentpress-green div.gform_footer input.button,
.agentpress-green input[type="button"],
.agentpress-green input[type="submit"] {
	background-color: #496435;
	color: #fff;
}


/* AgentPress Red
------------------------------------------------------------ */

body.agentpress-red {
	background: url(images/red/bg.png);
}

.agentpress-red h2 a,
.agentpress-red h2 a:visited {
	color: #333;
}

.agentpress-red a,
.agentpress-red a:visited,
.agentpress-red h2 a:hover,
.agentpress-red #header ul.menu li a:hover,
.agentpress-red #header ul.menu li a:active,
.agentpress-red #header ul.menu .current_page_item a,
.agentpress-red #header ul.menu .current-cat a,
.agentpress-red #header ul.menu .current-menu-item a,
.agentpress-red #header ul.menu li li a:hover,
.agentpress-red #header ul.menu li li a:active,
.agentpress-red #nav li.right a:hover,
.agentpress-red #subnav li a:hover,
.agentpress-red #subnav li a:active,
.agentpress-red #subnav .current_page_item a,
.agentpress-red #subnav .current-cat a,
.agentpress-red #subnav .current-menu-item a {
	color: #426393;
}

.agentpress-red div.gform_footer input.button:hover,
.agentpress-red input:hover[type="button"],
.agentpress-red input:hover[type="submit"],
.agentpress-red .listing-price,
.agentpress-red .listing-wrap .more-link:hover,
.agentpress-red #footer-widgets,
.agentpress-red #nav,
.agentpress-red #nav li li a:hover,
.agentpress-red #nav li li a:active,
.agentpress-red #subnav li li a:hover,
.agentpress-red #subnav li li a:active {
	background-color: #301215;
}

.agentpress-red #nav li a:hover,
.agentpress-red #nav li a:active,
.agentpress-red #nav .current_page_item a,
.agentpress-red #nav .current-cat a,
.agentpress-red #nav .current-menu-item a,
.agentpress-red #nav li li a,
.agentpress-red #nav li li a:link,
.agentpress-red #nav li li a:visited,
.agentpress-red #subnav li a,
.agentpress-red #subnav li li a,
.agentpress-red #subnav li li a:link,
.agentpress-red #subnav li li a:visited {
	color: #301215;
}

.agentpress-red .listing-text {
	background-color: #426393;
}

.agentpress-red .listing-wrap .more-link,
.agentpress-red div.gform_footer input.button,
.agentpress-red input[type="button"],
.agentpress-red input[type="submit"] {
	background-color: #5a2227;
	color: #fff;
}


/* AgentPress Tan
------------------------------------------------------------ */

body.agentpress-tan {
	background: url(images/tan/bg.png);
}

.agentpress-tan h2 a,
.agentpress-tan h2 a:visited {
	color: #333;
}

.agentpress-tan a,
.agentpress-tan a:visited,
.agentpress-tan h2 a:hover,
.agentpress-tan #header ul.menu li a:hover,
.agentpress-tan #header ul.menu li a:active,
.agentpress-tan #header ul.menu .current_page_item a,
.agentpress-tan #header ul.menu .current-cat a,
.agentpress-tan #header ul.menu .current-menu-item a,
.agentpress-tan #header ul.menu li li a:hover,
.agentpress-tan #header ul.menu li li a:active,
.agentpress-tan #nav li.right a:hover,
.agentpress-tan #subnav li a:hover,
.agentpress-tan #subnav li a:active,
.agentpress-tan #subnav .current_page_item a,
.agentpress-tan #subnav .current-cat a,
.agentpress-tan #subnav .current-menu-item a {
	color: #cd7728;
}

.agentpress-tan div.gform_footer input.button:hover,
.agentpress-tan input:hover[type="button"],
.agentpress-tan input:hover[type="submit"],
.agentpress-tan .listing-price,
.agentpress-tan .listing-wrap .more-link:hover,
.agentpress-tan #footer-widgets,
.agentpress-tan #nav,
.agentpress-tan #nav li li a:hover,
.agentpress-tan #nav li li a:active,
.agentpress-tan #subnav li li a:hover,
.agentpress-tan #subnav li li a:active {
	background-color: #413c2e;
}

.agentpress-tan #nav li a:hover,
.agentpress-tan #nav li a:active,
.agentpress-tan #nav .current_page_item a,
.agentpress-tan #nav .current-cat a,
.agentpress-tan #nav .current-menu-item a,
.agentpress-tan #nav li li a,
.agentpress-tan #nav li li a:link,
.agentpress-tan #nav li li a:visited,
.agentpress-tan #subnav li a,
.agentpress-tan #subnav li li a,
.agentpress-tan #subnav li li a:link,
.agentpress-tan #subnav li li a:visited {
	color: #413c2e;
}

.agentpress-tan .listing-text {
	background-color: #cd7728;
}

.agentpress-tan .listing-wrap .more-link,
.agentpress-tan div.gform_footer input.button,
.agentpress-tan input[type="button"],
.agentpress-tan input[type="submit"] {
	background-color: #68604a;
	color: #fff;
}


/* AgentPress Remax
------------------------------------------------------------ */

body.agentpress-remax {
	background: #fff url(images/remax/bg.png);
}

body.agentpress-remax,
.agentpress-remax h1,
.agentpress-remax h2,
.agentpress-remax h2 a,
.agentpress-remax h2 a:visited,
.agentpress-remax h3,
.agentpress-remax h4,
.agentpress-remax h5,
.agentpress-remax h6,
.agentpress-remax p,
.agentpress-remax input,
.agentpress-remax select,
.agentpress-remax textarea {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

.agentpress-remax #header {
	text-shadow: none;
}

.agentpress-remax #description,
.agentpress-remax #header .widget-area p {
	color: #333;
}

.agentpress-remax #inner,
.agentpress-remax #nav,
.agentpress-remax #subnav,
.agentpress-remax .disclaimer,
.agentpress-remax .featured-top,
.agentpress-remax #footer-widgets {
	-moz-box-shadow: none; 
	-webkit-box-shadow: none;
	box-shadow: none;
}

.agentpress-remax a,
.agentpress-remax a:visited,
.agentpress-remax #nav li li a:hover,
.agentpress-remax #nav li li a:active,
.agentpress-remax #subnav li li a:hover,
.agentpress-remax #subnav li li a:active {
	color: #e22434;
}

.agentpress-remax #nav,
.agentpress-remax #subnav {
	background: url(images/remax/nav.png);
}

.agentpress-remax #subnav li a {
	color: #fff;
}

.agentpress-remax #nav li li a:hover,
.agentpress-remax #nav li li a:active,
.agentpress-remax #subnav li a:hover,
.agentpress-remax #subnav li a:active,
.agentpress-remax #subnav .current_page_item a,
.agentpress-remax #subnav .current-cat a,
.agentpress-remax #subnav .current-menu-item a,
.agentpress-remax #subnav li li a,
.agentpress-remax #subnav li li a:link,
.agentpress-remax #subnav li li a:visited,
.agentpress-remax #subnav li li a:hover,
.agentpress-remax #subnav li li a:active {
	background-color: #fff;
}

.agentpress-remax #nav li li a:hover,
.agentpress-remax #nav li li a:active,
.agentpress-remax #subnav li li a:hover,
.agentpress-remax #subnav li li a:active {
	color: #e22434 !important;
}

.agentpress-remax #subnav li li a,
.agentpress-remax #subnav li li a:link,
.agentpress-remax #subnav li li a:visited {
	border: 1px solid #ccc;
	border-top-width: 0;
}

.agentpress-remax h1,
.agentpress-remax h2,
.agentpress-remax h2 a,
.agentpress-remax h2 a:visited,
.agentpress-remax h3,
.agentpress-remax h4,
.agentpress-remax h5,
.agentpress-remax h6,
.agentpress-remax .welcome p,
.agentpress-remax #title a,
.agentpress-remax #title a:hover,
.agentpress-remax #nav li a:hover,
.agentpress-remax #nav li a:active,
.agentpress-remax #nav .current_page_item a,
.agentpress-remax #nav .current-cat a,
.agentpress-remax #nav .current-menu-item a,
.agentpress-remax #nav li li a,
.agentpress-remax #nav li li a:link,
.agentpress-remax #nav li li a:visited,
.agentpress-remax #subnav li a:hover,
.agentpress-remax #subnav li a:active,
.agentpress-remax #subnav .current_page_item a,
.agentpress-remax #subnav .current-cat a,
.agentpress-remax #subnav .current-menu-item a,
.agentpress-remax #subnav li li a,
.agentpress-remax #subnav li li a:link,
.agentpress-remax #subnav li li a:visited {
	color: #005d99;
}

.agentpress-remax h2 a:hover {
	color: #e22434;
}

.agentpress-remax .author-box,
.agentpress-remax .featured-bottom-right .widget,
.agentpress-remax .featured-top,
.agentpress-remax .gray-box,
.agentpress-remax .post-meta,
.agentpress-remax .property-details,
.agentpress-remax .sidebar,
.agentpress-remax .taxonomy-description,
.agentpress-remax .welcome,
.agentpress-remax #content .gform_wrapper,
.agentpress-remax #footer,
.agentpress-remax #footer-widgets,
.agentpress-remax #sidebar-alt {
	background-color: #ebf3f7;
}

.agentpress-remax .listing-price,
.agentpress-remax #dsidx-listings .dsidx-price  {
	background: #005d99;
}

.agentpress-remax .listing-text {
	background: #e22434;
}

.agentpress-remax div.gform_footer input.button,
.agentpress-remax input[type="button"],
.agentpress-remax input[type="submit"],
.agentpress-remax .listing-wrap .more-link {
	background: url(images/remax/button.png) 0 0;
	border: 1px solid #004c7c;
	color: #fff;
	padding: 5px 7px 4px;
}

.agentpress-remax div.gform_footer input.button:hover,
.agentpress-remax input:hover[type="button"],
.agentpress-remax input:hover[type="submit"],
.agentpress-remax .listing-wrap .more-link:hover {
	background: url(images/remax/button.png) 0 -40px;
	border: 1px solid #004c7c;
}

.agentpress-remax #footer-widgets {
	background: #005d99 url(images/remax/footer.png) repeat-x;
}

.agentpress-remax #footer-widgets .widget-area h4 {
	color: #bad2de;
}

.agentpress-remax #footer {
	background: #005d99;
	border-top: 1px solid #fff;
	margin: 0 auto;
	padding: 0;
	text-transform: none;
}

.agentpress-remax #footer a,
.agentpress-remax #footer a:visited,
.agentpress-remax #footer p {
	color: #fff;
}

.agentpress-remax #footer .gototop {
	padding: 10px 0 7px 10px;
}

.agentpress-remax #footer .creds {
	padding: 10px 10px 7px 0;
	width: 680px;
}

.agentpress-remax .disclaimer {
	background: none;
	border: none;
}