@charset "utf-8";
/* CSS Document */
.icon_sprite_WPcomments { background:url(../images/icon_sprite_WPcomments.png) no-repeat; height:35px; width:auto;}
.comments .row_detailed .row_ind_post_cont { border-bottom: 1px solid #F1F1D7; }
.comments .row_detailed .row_ind_post {
	float: left;
	width: 860px;
	padding: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont {
	width: 920px;
	position:relative;
	margin-left: 35px;
	border-top: 1px solid #F1F1D7;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont.active {background-color: #E0F5DE;}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .checkbox {
	float:left;
	width:35px;
	height:35px;
	padding:0;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .row_comment {
	float:left;
	width: 874px;
	padding: 5px 5px 11px 5px;
	line-height:22px;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comment_who {
	width:auto !important;
	float:left;
	background-position: 0 -3px;
	margin-left:35px;
	padding: 11px 0 6px 35px;
	height: 17px;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comment_when {
	width:auto !important;
	float:left;
	background-position: 0 -341px;
	margin-left:15px;
	padding: 11px 0 6px 35px;
	height: 17px;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops {
	position:absolute;
	bottom:5px;
	right:5px;
	width:144px;
	height:28px;
	border:1px solid #c6c6c6;
	border-radius:3px;
	display:none;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont:hover .comments_ops { display:block; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li {
	background-position: 0 -397px;
	border-left:1px solid #c6c6c6;
	float:left;
	display:inline;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:active {
	background-position: 0 -432px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:first-child {
	border-left:0;
	border-radius: 2px 0 0 2px;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:last-child { border-radius: 0 2px 2px 0; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li a {
	width:28px;
	height:28px;
	display:block;
}
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li a.op_approve { background-position:-2px -72px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li a.op_reply { background-position:-2px -105px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li a.op_edit { background-position:-3px -140px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li a.op_spam { background-position:-3px -750px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li a.op_trash { background-position:-3px -411px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li a.op_del_perm { background-position: -2px -615px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:active a.op_approve { background-position:-2px -71px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:active a.op_reply { background-position:-2px -104px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:active a.op_edit { background-position:-3px -139px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:active a.op_spam { background-position:-3px -749px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:active a.op_trash { background-position:-3px -410px; }
.comments .row_detailed .row_ind_post_cont .row_ind_comment_cont .comments_ops li:active a.op_del_perm { background-position:-2px -614px; }
.comments .row_action_btn {
	background-position: 0 -397px;
	width: 34px;
	height: 34px;
	border-left: 1px solid #EFEFEF;
}
.comments .row_action_btn:active {
	background-position: 0 -432px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
}
.comments .row_action_btn .open_pop_out { background-position: 0 -1089px; }
.comments .row_action_btn:active .open_pop_out { background-position: 0 -1088px; }
.comments .count_cont { margin: 9px 0px 9px 9px;}
.comments .row_name, .comments .row_detailed .rh .row_name { border-left:0;}
.comments .row_arrow { border-right: 1px solid #EFEFEF;}
.comments .row_detailed .rh .row_arrow { border-right: 1px solid #F1F1D7;}
.comments .row_ind_post_cont .checkbox { float: left; width: 35px; height: 35px; padding: 0; }
.comments .reply_cont { border:1px solid #c6c6c6; margin: 5px 5px 5px 40px; border-radius: 3px;}
.comments .reply_cont textarea { width:863px; height:100px; border:0; border-radius: 3px 3px 0 0; padding: 5px; font-family: 'Droid Sans', sans-serif; font-size: 12px; color: #666; line-height: 22px;}
.comments .reply_cont .tr { border-radius: 0 0 3px 3px;  border-top:1px solid #c6c6c6;}
.comments .reply_cont .tr .cancel_reply { float:left; color:#6c7277; padding: 11px;}
.comments .reply_cont .tr .btn_action a { float:right; background-position: 0 -143px; margin: 5px 3px;}
.comments .reply_cont .tr .btn_action a:active { background-position: 0 -215px;}


