/*
Theme Name: Automator Child
Theme URI: http://themes.fastlinemedia.com
Version: 1.0
Description: An example child theme for Automator that can be used as a starting point for custom development.
Author: FastLine Media
Author URI: http://themes.fastlinemedia.com
template: fl-automator
*/

/* Add your custom styles here... */

/*top bar edit for social icons beside the top menu */
.fl-social-icons {
    float: right;
    margin-right: 30px;
    margin-top:12px;
}
#menu-shopping-navigation {
    float: right;
}
.fl-page-header-container {
    padding-top : 0;
}

#menu-primary-navigation-1 > li > a:hover,
#menu-primary-navigation-1 > .current-menu-item a {border-bottom:5px solid;}
body{
    background: #fff url("images/wavegrid.png");
  background-repeat: repeat;
}
.fl-page-content{background:none;}
.fl-page-bar {border:none;}

.home .products li {background:#fff;}
.home .products img {border:none !important;}
.home .products li .price .amount{font-size:20px;}
header:nth-child(3) > div{
-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.2);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.2);
}
#menu-item-115 > a,
#menu-item-114 > a,
#menu-item-116 > a{
    border:0;
    font: 0/0 a;
    text-shadow: none;
    color:transparent;
    width:35px;
    height:30px;
}

#menu-item-114 > a{
     background:url("images/account-logo.png") no-repeat;
}

#menu-item-116 > a{
    background:url("images/cart-icon.png") no-repeat;
}
#menu-item-115 > a{
    background:url("images/checkout-icon.png") no-repeat;
}

@media (min-width:1000px){
   .home .fl-module.fl-module-heading.fl-node-540ad4dc72e37 > div,
   .home .fl-module.fl-module-heading.fl-node-540ad4f33dbd9 > div{margin-bottom:-200px;}
   .home .fl-row.fl-row-fixed-width.fl-row-bg-none.fl-node-540ad3e97baad > div,
   .home .fl-row.fl-row-fixed-width.fl-row-bg-none.fl-node-540ad46ceecc1 > div{padding-bottom:0px;}
   .home .fl-row.fl-row-fixed-width.fl-row-bg-none.fl-node-540ad46ceecc1 > div > div > div > div{margin-bottom:-80px;}
}
.fl-accordion-medium .fl-accordion-button-label {
    font-size: 16px !important;
    font-weight: bold !important;
}
